Repository farrow-js/farrow: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "eslint --fix"
  ],
  "*.{json,yml,md}": [
    "prettier --write"
  ]
}

docs(changeset): fix ApiErrorResponse can't be catched
  .changeset/wet-llamas-notice.md
Due: prettier --write

RELEASING: Releasing 1 package(s)
  .changeset/wet-llamas-notice.md
  packages/farrow-api-client/CHANGELOG.md
  packages/farrow-api-client/package.json
Due: prettier --write

refactor(farrow-schema): optimize type-infer for RecordType
  packages/farrow-schema/src/schema.ts
Due: eslint --fix

chore: update examples
  examples/todo-app/farrow.config.js
  examples/todo-app/server/api/example.ts
  examples/todo-app/server/api/index.ts
  examples/todo-app/src/App.tsx
  examples/todo-app/src/__generated__/example.ts
  examples/todo-app/src/api/todo.ts
  examples/todo-app/src/apis.ts
Due: eslint --fix

feat(farrow-api-*): support config validation for single Api
  examples/todo-app/server/api/example.ts
  examples/todo-app/src/App.tsx
  examples/todo-app/src/__generated__/example.ts
  packages/farrow-api-server/__tests__/apiService.test.ts
  packages/farrow-api-server/src/apiService.ts
  packages/farrow-api/src/api.ts
Due: eslint --fix

docs(changeset): support configuring input/output validation for single Api
  .changeset/slow-cobras-smell.md
Due: prettier --write

RELEASING: Releasing 2 package(s)
  .changeset/slow-cobras-smell.md
  packages/farrow-api-server/CHANGELOG.md
  packages/farrow-api-server/package.json
  packages/farrow-api/CHANGELOG.md
  packages/farrow-api/package.json
Due: prettier --write

refactor: breaking! Nullable now does not hold `undefined | null` instead of `| null`, another SchemaConstructor Optional(..) is add for optional field
  packages/farrow-api/__tests__/__snapshots__/codegen.test.ts.snap
  packages/farrow-api/__tests__/codegen.test.ts
  packages/farrow-api/src/codegen.ts
  packages/farrow-express/__tests__/express.test.ts
  packages/farrow-http/__tests__/http.test.ts
  packages/farrow-http/src/router.ts
  packages/farrow-koa/__tests__/koa.test.ts
  packages/farrow-schema/__tests__/formatter.test.ts
  packages/farrow-schema/__tests__/validator.test.ts
  packages/farrow-schema/src/formatter.ts
  packages/farrow-schema/src/helper.ts
  packages/farrow-schema/src/schema.ts
  packages/farrow-schema/src/validator.ts
Due: eslint --fix

docs(changeset): refactor: split Nullable feature to Nullable and Optional
  .changeset/twenty-apples-vanish.md
Due: prettier --write

RELEASING: Releasing 18 package(s)
  .changeset/twenty-apples-vanish.md
  packages/farrow-api-client/CHANGELOG.md
  packages/farrow-api-client/package.json
  packages/farrow-api-server/CHANGELOG.md
  packages/farrow-api-server/package.json
  packages/farrow-api/CHANGELOG.md
  packages/farrow-api/package.json
  packages/farrow-cors/CHANGELOG.md
  packages/farrow-cors/package.json
  packages/farrow-deno-api/CHANGELOG.md
  packages/farrow-deno-api/package.json
  packages/farrow-express/CHANGELOG.md
  packages/farrow-express/package.json
  packages/farrow-federation/CHANGELOG.md
  packages/farrow-federation/package.json
  packages/farrow-http/CHANGELOG.md
  packages/farrow-http/package.json
  packages/farrow-json-schema/CHANGELOG.md
  packages/farrow-json-schema/package.json
  packages/farrow-koa/CHANGELOG.md
  packages/farrow-koa/package.json
  packages/farrow-module/CHANGELOG.md
  packages/farrow-module/package.json
  packages/farrow-next-server/CHANGELOG.md
  packages/farrow-next-server/package.json
  packages/farrow-next/CHANGELOG.md
  packages/farrow-next/package.json
  packages/farrow-pipeline/CHANGELOG.md
  packages/farrow-pipeline/package.json
  packages/farrow-react/CHANGELOG.md
  packages/farrow-react/package.json
  packages/farrow-schema/CHANGELOG.md
  packages/farrow-schema/package.json
  packages/farrow-vite/CHANGELOG.md
  packages/farrow-vite/package.json
  packages/farrow/CHANGELOG.md
  packages/farrow/package.json
Due: prettier --write

feat: support namespace to avoid naming conflict
  packages/farrow-api/__tests__/__snapshots__/codegen.test.ts.snap
  packages/farrow-api/__tests__/codegen.test.ts
  packages/farrow-api/src/codegen.ts
  packages/farrow-api/src/controvert.ts
  packages/farrow-schema/src/formatter.ts
  packages/farrow-schema/src/schema.ts
Due: eslint --fix

docs(changeset): add namespace supporting
  .changeset/proud-timers-fix.md
Due: prettier --write

RELEASING: Releasing 2 package(s)
  .changeset/proud-timers-fix.md
  packages/farrow-api/CHANGELOG.md
  packages/farrow-api/package.json
  packages/farrow-schema/CHANGELOG.md
  packages/farrow-schema/package.json
Due: prettier --write

fix(farrow-schema): fix typo in formatter
  packages/farrow-next/CHANGELOG.md
  packages/farrow-next/package.json
  packages/farrow-next/src/store.ts
  packages/farrow-schema/CHANGELOG.md
  packages/farrow-schema/package.json
  packages/farrow-schema/src/formatter.ts
  packages/farrow-schema/src/helper.ts
  pnpm-lock.yaml
  tsconfig.dist.json
  tsconfig.esm.json
Due: eslint --fix, prettier --write

ci: remove node16
  .github/workflows/benchmark.yml
  .github/workflows/test.yml
Due: prettier --write

fix: asyncTracerImpl.node
  packages/farrow-pipeline/asyncTracerImpl.node.d.ts
  pnpm-lock.yaml
Due: eslint --fix

fix: lint error
  examples/example/package.json
  examples/next-app/package.json
  examples/todo-app/package.json
  package.json
  packages/create-farrow-app/templates/farrow-next-react/package.json
  packages/create-farrow-app/templates/farrow-vite-react/package.json
  packages/create-farrow-app/templates/farrow-vite-react/src/main.tsx
  packages/farrow-next-server/package.json
  packages/farrow-next/__tests__/next.test.tsx
  packages/farrow-next/package.json
  packages/farrow-next/src/controller.tsx
  packages/farrow-react/package.json
  packages/farrow-react/src/react.tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

ci: remove node16 (#191)
  .github/workflows/benchmark.yml
  .github/workflows/test.yml
  examples/example/package.json
  examples/next-app/package.json
  examples/todo-app/package.json
  package.json
  packages/create-farrow-app/templates/farrow-next-react/package.json
  packages/create-farrow-app/templates/farrow-vite-react/package.json
  packages/create-farrow-app/templates/farrow-vite-react/src/main.tsx
  packages/farrow-next-server/package.json
  packages/farrow-next/__tests__/next.test.tsx
  packages/farrow-next/package.json
  packages/farrow-next/src/controller.tsx
  packages/farrow-pipeline/asyncTracerImpl.node.d.ts
  packages/farrow-react/package.json
  packages/farrow-react/src/react.tsx
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

refactor(farrow-schema): enhance Utilities with pick, omit, partial, and required functionalities with preserve the recursive capability of ObjectType
  packages/farrow-schema/src/helper.ts
Due: eslint --fix

test(farrow-schema): Based on the test results, some problematic code has been modified, and relevant tests for the required utility function have been added.
  packages/farrow-schema/__tests__/formatter.test.ts
  packages/farrow-schema/__tests__/validator.test.ts
  packages/farrow-schema/src/formatter.ts
  packages/farrow-schema/src/helper.ts
Due: eslint --fix

Refactor Schema utility functions such as `omit`, `pick`, and `partial` to preserve the recursive capability of `ObjectType`, while adding a `required` utility function. (#198)
  packages/farrow-schema/__tests__/formatter.test.ts
  packages/farrow-schema/__tests__/validator.test.ts
  packages/farrow-schema/src/formatter.ts
  packages/farrow-schema/src/helper.ts
Due: eslint --fix

feat: enhance helpers of farrow-schema
  packages/farrow-schema/package.json
Due: prettier --write

feat(farrow): onSchemaError(err, req, next) receives another two args, req and next
  packages/farrow-http/src/router.ts
Due: eslint --fix

feat(farrow-http): router.match return async-pipeline
  packages/farrow-http/__tests__/router.test.ts
  packages/farrow-http/src/router.ts
Due: eslint --fix

chore: publish farrow-http v2.3.1
  packages/farrow-http/CHANGELOG.md
  packages/farrow-http/__tests__/router.test.ts
  packages/farrow-http/package.json
Due: eslint --fix, prettier --write

chore: add Rush monorepo scaffolding
  .gitignore
  README.md
  common/config/rush/.npmrc
  common/config/rush/pnpm-config.json
  common/config/rush/pnpm-lock.yaml
  common/config/rush/repo-state.json
  common/scripts/install-run-rush-pnpm.js
  common/scripts/install-run-rush.js
  common/scripts/install-run-rushx.js
  common/scripts/install-run.js
  package.json
  rush.json
Due: eslint --fix, prettier --write

fix(api-client): stop importing farrow-api-server internals
  packages/farrow-api-client/src/farrow-api-client.ts
Due: eslint --fix

chore: remove unused root tsconfig.esm
  tsconfig.esm.json
Due: prettier --write

refactor(build): use package tsconfig.json in tsdown
  packages/create-farrow-app/tsconfig.esm.json
  packages/create-farrow-app/tsdown.config.ts
  packages/farrow-api-client/tsconfig.esm.json
  packages/farrow-api-client/tsdown.config.ts
  packages/farrow-api-server/tsconfig.esm.json
  packages/farrow-api-server/tsdown.config.ts
  packages/farrow-api/tsconfig.esm.json
  packages/farrow-api/tsdown.config.ts
  packages/farrow-cors/tsconfig.esm.json
  packages/farrow-cors/tsdown.config.ts
  packages/farrow-deno-api/tsconfig.esm.json
  packages/farrow-deno-api/tsdown.config.ts
  packages/farrow-express/tsconfig.esm.json
  packages/farrow-express/tsdown.config.ts
  packages/farrow-federation/tsconfig.esm.json
  packages/farrow-federation/tsdown.config.ts
  packages/farrow-http/tsconfig.esm.json
  packages/farrow-http/tsdown.config.ts
  packages/farrow-json-schema/tsconfig.esm.json
  packages/farrow-json-schema/tsdown.config.ts
  packages/farrow-koa/tsconfig.esm.json
  packages/farrow-koa/tsdown.config.ts
  packages/farrow-module/tsconfig.esm.json
  packages/farrow-module/tsdown.config.ts
  packages/farrow-next-server/tsconfig.esm.json
  packages/farrow-next-server/tsdown.config.ts
  packages/farrow-next/tsconfig.esm.json
  packages/farrow-next/tsdown.config.ts
  packages/farrow-pipeline/tsconfig.esm.json
  packages/farrow-pipeline/tsdown.config.ts
  packages/farrow-react/tsconfig.esm.json
  packages/farrow-react/tsdown.config.ts
  packages/farrow-schema/tsconfig.esm.json
  packages/farrow-schema/tsdown.config.ts
  packages/farrow-vite/tsconfig.esm.json
  packages/farrow-vite/tsdown.config.ts
  packages/farrow/tsconfig.esm.json
  packages/farrow/tsdown.config.ts
Due: eslint --fix, prettier --write

perf: replace leven with optimized-fastest-levenshtein
  packages/farrow/package.json
  packages/farrow/src/bin/index.ts
Due: eslint --fix, prettier --write
