Repository farrow-js/farrow: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "eslint --fix"
  ],
  "*.{json,yml,md}": [
    "prettier --write"
  ]
}

feat(next): deprecated ModuleConfig and improve the flexibility of this.use(Dep)
  packages/next/src/module.ts
Due: eslint --fix

feat(next): farrow-module supports provider and add Container Mixin
  packages/next/src/module.ts
  packages/next/src/page-info.tsx
  packages/next/src/page.tsx
Due: eslint --fix

chore(examples): add next-app example
  examples/next-app/.gitignore
  examples/next-app/farrow.config.js
  examples/next-app/next-env.d.ts
  examples/next-app/package-lock.json
  examples/next-app/package.json
  examples/next-app/pages/_app.tsx
  examples/next-app/pages/index.tsx
  examples/next-app/server/api/index.ts
  examples/next-app/server/api/todo.ts
  examples/next-app/server/index.ts
  examples/next-app/src/Controller.ts
  examples/next-app/src/api/todo.ts
  examples/next-app/src/css/App.css
  examples/next-app/src/css/index.css
  examples/next-app/src/pages/index/Controller.ts
  examples/next-app/src/pages/index/View.tsx
  examples/next-app/src/pages/index/index.ts
  examples/next-app/tsconfig.json
  examples/todo-app/package-lock.json
Due: eslint --fix, prettier --write

docs: add farrow-next doc
  README.md
  docs/next.md
  package-lock.json
  package.json
  packages/graphql/src/exec.ts
  tsconfig.build.json
Due: eslint --fix, prettier --write

feat(module): move farrow-module to a standard package
  packages/module/README.md
  packages/module/package.json
  packages/module/src/index.ts
  packages/module/src/module.ts
  packages/module/tsconfig.json
  packages/next/package.json
  packages/next/src/module.ts
  tsconfig.build.json
Due: eslint --fix, prettier --write

test(module): add test-cases for farrow-module
  examples/next-app/package-lock.json
  packages/module/src/__tests__/module.test.ts
  packages/module/src/module.ts
  packages/next/src/controller.tsx
Due: eslint --fix, prettier --write

docs(module): add docs for farrow-module
  packages/module/README.md
Due: prettier --write

chore: mark farrow-next private
  packages/next/package.json
Due: prettier --write

v1.6.2
  examples/example/package-lock.json
  examples/example/package.json
  examples/next-app/package-lock.json
  examples/next-app/package.json
  examples/todo-app/package-lock.json
  examples/todo-app/package.json
  lerna.json
  packages/api-server/package.json
  packages/cors/package.json
  packages/farrow/package.json
  packages/graphql/package.json
  packages/http/package.json
  packages/module/package.json
  packages/next/package.json
  packages/react/package.json
  packages/vite/package.json
Due: prettier --write

refactor(module): remove ModuleConfig which can be replaced by ModuleProvider
  examples/next-app/src/pages/index/View.tsx
  packages/module/README.md
  packages/module/src/__tests__/module.test.ts
  packages/module/src/module.ts
  packages/next/src/page-info.tsx
  packages/next/src/page.tsx
Due: eslint --fix, prettier --write

v1.6.3
  examples/next-app/package-lock.json
  examples/next-app/package.json
  lerna.json
  packages/module/package.json
  packages/next/package.json
Due: prettier --write

fix(module): fix typo and example
  examples/next-app/src/pages/index/View.tsx
  packages/module/README.md
  packages/module/src/__tests__/module.test.ts
Due: eslint --fix, prettier --write

feat(module): support connect multiple containers
  packages/module/README.md
  packages/module/src/__tests__/module.test.ts
  packages/module/src/module.ts
Due: eslint --fix, prettier --write

v1.6.4
  examples/next-app/package-lock.json
  examples/next-app/package.json
  lerna.json
  packages/module/package.json
  packages/next/package.json
Due: prettier --write

feat(module): remove ModuleProviderSymbol and support this.use(providerValue)
  packages/module/src/__tests__/module.test.ts
  packages/module/src/module.ts
Due: eslint --fix

refactor(module): remove Module***Symbol and use WeakMap to manage module-context/container
  packages/module/src/module.ts
Due: eslint --fix

feat(module): split get/set api to this.use and this.inject instead of just this.use
  packages/module/README.md
  packages/module/src/__tests__/module.test.ts
  packages/module/src/module.ts
Due: eslint --fix, prettier --write

fix(module): add this.inject to Container Mixin
  packages/module/src/module.ts
Due: eslint --fix

v1.6.5
  examples/next-app/package-lock.json
  examples/next-app/package.json
  lerna.json
  packages/module/package.json
  packages/next/package.json
Due: prettier --write

refactor(module): improve impl of farrow-module
  examples/next-app/src/pages/index/View.tsx
  packages/module/README.md
  packages/module/package.json
  packages/module/src/__tests__/module.test.ts
  packages/module/src/module.ts
  packages/next/src/page.tsx
  tsconfig.build.json
Due: eslint --fix, prettier --write

chore: drop farrow-graphql
  packages/graphql/README.md
  packages/graphql/package.json
  packages/graphql/src/build.ts
  packages/graphql/src/exec.ts
  packages/graphql/src/graphql.ts
  packages/graphql/src/index.ts
  packages/graphql/src/weather.generate.graphql
  packages/graphql/src/weather.graphql
  packages/graphql/src/weather.schema.ts
  packages/graphql/tsconfig.json
Due: eslint --fix, prettier --write

v1.6.6
  examples/next-app/package-lock.json
  examples/next-app/package.json
  lerna.json
  packages/module/package.json
  packages/next/package.json
Due: prettier --write

test(next): add test-cases for farrow-next
  jest.config.js
  packages/next/src/__tests__/next.test.tsx
  packages/next/src/controller.tsx
  packages/next/src/page.tsx
Due: eslint --fix

doc: restructure docs
  README.md
  docs/api-server.md
  docs/api.md
  docs/cors.md
  docs/farrow.md
  docs/http.md
  docs/index.md
  docs/next.md
  docs/pipeline.md
  docs/react.md
  docs/schema.md
  docs/vite.md
  packages/api-server/README.md
  packages/api/README.md
  packages/cors/README.md
  packages/farrow/README.md
  packages/http/README.md
  packages/next/README.md
  packages/next/package.json
  packages/pipeline/README.md
  packages/react/README.md
  packages/schema/README.md
  packages/vite/README.md
Due: prettier --write

v1.6.7
  examples/example/package-lock.json
  examples/example/package.json
  examples/next-app/package-lock.json
  examples/next-app/package.json
  examples/todo-app/package-lock.json
  examples/todo-app/package.json
  lerna.json
  packages/api-server/package.json
  packages/api/package.json
  packages/cors/package.json
  packages/farrow/package.json
  packages/http/package.json
  packages/next/package.json
  packages/pipeline/package.json
  packages/react/package.json
  packages/schema/package.json
  packages/vite/package.json
Due: prettier --write

doc: add farrow-module link
  docs/index.md
Due: prettier --write

doc(next): fix typo
  packages/next/README.md
Due: prettier --write

feat(next): supports controller.redirect(url)
  examples/next-app/pages/redirect.ts
  examples/next-app/src/controllers/Api.ts
  examples/next-app/src/pages/index/Controller.ts
  examples/next-app/src/pages/index/View.tsx
  examples/next-app/src/pages/redirect/index.tsx
  package-lock.json
  packages/next/README.md
  packages/next/src/controller.tsx
Due: eslint --fix, prettier --write

v1.6.8
  examples/next-app/package-lock.json
  examples/next-app/package.json
  lerna.json
  packages/next/package.json
Due: prettier --write

doc(next): update
  packages/next/README.md
Due: prettier --write

v1.6.9
  examples/next-app/package-lock.json
  examples/next-app/package.json
  lerna.json
  packages/next/package.json
Due: prettier --write

feat(api-client): add farrow-api-client
  packages/api-client/README.md
  packages/api-client/package.json
  packages/api-client/src/index.ts
  packages/api-client/tsconfig.json
Due: eslint --fix, prettier --write

refactor(api): improve codegen via farrow-api-client
  packages/api/src/__tests__/codegen.test.ts
  packages/api/src/__tests__/expected/01.ts
  packages/api/src/__tests__/expected/01.txt
  packages/api/src/__tests__/expected/02.txt
  packages/api/src/codegen.ts
Due: eslint --fix

chore(examples): use farrow-api-client
  examples/next-app/package.json
  examples/next-app/src/api/todo.ts
  examples/next-app/src/controllers/Api.ts
  examples/next-app/src/handleApi.ts
  examples/next-app/src/pages/index/Controller.ts
  examples/next-app/src/pages/index/View.tsx
  examples/next-app/src/pages/index/index.ts
Due: eslint --fix, prettier --write

feat(farrow): integrate farrow-api-client
  packages/farrow/src/api-client/index.ts
Due: eslint --fix

chore: update
  packages/module/README.md
  tsconfig.build.json
Due: prettier --write

chore: update examples
  examples/example/client/app.ts
  examples/example/client/pet-store.ts
  examples/example/client/todo.ts
  examples/example/package.json
  examples/next-app/src/api/todo.ts
Due: eslint --fix, prettier --write

refactor(api): improve client/server of farrow-api
  packages/farrow-api-client/README.md
  packages/farrow-api-client/package.json
  packages/farrow-api-client/src/__tests__/index.test.ts
  packages/farrow-api-client/src/index.ts
  packages/farrow-api-client/tsconfig.json
  packages/farrow-api-server/README.md
  packages/farrow-api-server/src/__tests__/apiService.test.ts
  packages/farrow-api-server/src/apiResponse.ts
  packages/farrow-api-server/src/apiService.ts
  packages/farrow-api-server/src/index.ts
Due: eslint --fix, prettier --write

docs: fix the wrong links
  README.md
  docs/index.md
Due: prettier --write
