Repository farrow-js/farrow: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

refactor: refactor farrow-api-*, prepare for version 2.0
  docs/v1/farrow-api-client.md
  jest.config.base.js
  package.json
  packages/farrow-api-client/__tests__/apiPipeline.test.ts
  packages/farrow-api-client/__tests__/route.ts
  packages/farrow-api-client/src/apiPipeline.ts
  packages/farrow-api-server/__tests__/apiService.test.ts
  packages/farrow-api-server/__tests__/expected/01.ts
  packages/farrow-api-server/__tests__/generatorApiClient.test.ts
  packages/farrow-api-server/package.json
  packages/farrow-api-server/src/apiResponse.ts
  packages/farrow-api-server/src/apiService.ts
  packages/farrow-api-server/src/generateApiClient.ts
  packages/farrow-api/__tests__/expected/01.ts
  packages/farrow-api/__tests__/generateApi.test.ts
  packages/farrow-api/src/generateApi.ts
  packages/farrow-federation/__tests__/__snapshots__/federation.test.ts.snap
  packages/farrow-federation/__tests__/federation.test.ts
  packages/farrow-federation/src/federation.ts
  packages/farrow-federation/src/introspection.ts
  packages/farrow-json-schema/__tests__/index.test.ts
  packages/farrow-json-schema/src/farrow-json-schema.ts
  packages/farrow-json-schema/src/index.ts
  packages/farrow-pipeline/src/pipeline.ts
  packages/farrow/__tests__/farrow-server.test.ts
  packages/farrow/jest.config copy.js
  packages/farrow/jest.config.js
  packages/farrow/src/api-client/index.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore: pnpm changeset
  .changeset/big-apes-rest.md
Due: prettier --write

chore: bump version
  packages/farrow-cors/package.json
  packages/farrow-deno-api/package.json
  packages/farrow-express/package.json
  packages/farrow-federation/package.json
  packages/farrow-koa/package.json
  packages/farrow-next-server/package.json
  packages/farrow-pipeline/package.json
  packages/farrow-react/package.json
  packages/farrow-schema/package.json
  packages/farrow-vite/package.json
Due: prettier --write

chore: bump version
  examples/benchmark/package.json
  packages/farrow/fixtures/project0/package.json
  pnpm-lock.yaml
Due: prettier --write

style: fix lint error
  examples/todo-app/vite.config.ts
  packages/farrow-api-client/jest.config.js
  packages/farrow-api-client/src/apiPipeline.ts
  packages/farrow-api-server/__tests__/apiService.test.ts
  packages/farrow-api-server/__tests__/expected/01.ts
  packages/farrow-api-server/jest.config.js
  packages/farrow-api-server/src/apiResponse.ts
  packages/farrow-api-server/src/apiService.ts
  packages/farrow-api-server/src/generateApiClient.ts
  packages/farrow-api/__tests__/expected/01.ts
  packages/farrow-api/__tests__/generateApi.test.ts
  packages/farrow-api/jest.config.js
  packages/farrow-api/src/generateApi.ts
  packages/farrow-cors/jest.config.js
  packages/farrow-deno-api/jest.config.js
  packages/farrow-express/jest.config.js
  packages/farrow-federation/__tests__/federation.test.ts
  packages/farrow-federation/jest.config.js
  packages/farrow-federation/src/federation.ts
  packages/farrow-federation/src/introspection.ts
  packages/farrow-http/jest.config.js
  packages/farrow-json-schema/__tests__/index.test.ts
  packages/farrow-json-schema/jest.config.js
  packages/farrow-koa/jest.config.js
  packages/farrow-module/jest.config.js
  packages/farrow-next/jest.config.js
  packages/farrow-pipeline/jest.config.js
  packages/farrow-pipeline/src/pipeline.ts
  packages/farrow-react/jest.config.js
  packages/farrow-schema/jest.config.js
  packages/farrow-vite/jest.config.js
  packages/farrow/jest.config.js
  pnpm-lock.yaml
  tsconfig.dist.json
  tsconfig.esm.json
Due: eslint --fix, prettier --write

style: fix lint error (#176)
  examples/todo-app/vite.config.ts
  packages/farrow-api-client/jest.config.js
  packages/farrow-api-client/src/apiPipeline.ts
  packages/farrow-api-server/__tests__/apiService.test.ts
  packages/farrow-api-server/__tests__/expected/01.ts
  packages/farrow-api-server/jest.config.js
  packages/farrow-api-server/src/apiResponse.ts
  packages/farrow-api-server/src/apiService.ts
  packages/farrow-api-server/src/generateApiClient.ts
  packages/farrow-api/__tests__/expected/01.ts
  packages/farrow-api/__tests__/generateApi.test.ts
  packages/farrow-api/jest.config.js
  packages/farrow-api/src/generateApi.ts
  packages/farrow-cors/jest.config.js
  packages/farrow-deno-api/jest.config.js
  packages/farrow-express/jest.config.js
  packages/farrow-federation/__tests__/federation.test.ts
  packages/farrow-federation/jest.config.js
  packages/farrow-federation/src/federation.ts
  packages/farrow-federation/src/introspection.ts
  packages/farrow-http/jest.config.js
  packages/farrow-json-schema/__tests__/index.test.ts
  packages/farrow-json-schema/jest.config.js
  packages/farrow-koa/jest.config.js
  packages/farrow-module/jest.config.js
  packages/farrow-next/jest.config.js
  packages/farrow-pipeline/jest.config.js
  packages/farrow-pipeline/src/pipeline.ts
  packages/farrow-react/jest.config.js
  packages/farrow-schema/jest.config.js
  packages/farrow-vite/jest.config.js
  packages/farrow/jest.config.js
  pnpm-lock.yaml
  tsconfig.dist.json
  tsconfig.esm.json
Due: eslint --fix, prettier --write

feat: change JsonType from import to inline
  package.json
  packages/farrow-api-client/jest.config.js
  packages/farrow-api-client/src/apiPipeline.ts
  packages/farrow-api-server/__tests__/apiService.test.ts
  packages/farrow-api-server/__tests__/expected/01.ts
  packages/farrow-api-server/jest.config.js
  packages/farrow-api-server/src/apiResponse.ts
  packages/farrow-api-server/src/apiService.ts
  packages/farrow-api-server/src/generateApiClient.ts
  packages/farrow-api/__tests__/expected/01.ts
  packages/farrow-api/__tests__/generateApi.test.ts
  packages/farrow-api/jest.config.js
  packages/farrow-api/src/generateApi.ts
  packages/farrow-cors/jest.config.js
  packages/farrow-deno-api/__tests__/client.ts
  packages/farrow-deno-api/jest.config.js
  packages/farrow-deno-api/src/codegen.ts
  packages/farrow-deno-api/src/denoService.ts
  packages/farrow-deno-api/src/generateApiClient.ts
  packages/farrow-deno-api/src/index.ts
  packages/farrow-express/jest.config.js
  packages/farrow-federation/__tests__/federation.test.ts
  packages/farrow-federation/jest.config.js
  packages/farrow-federation/src/federation.ts
  packages/farrow-federation/src/introspection.ts
  packages/farrow-http/jest.config.js
  packages/farrow-json-schema/__tests__/index.test.ts
  packages/farrow-json-schema/jest.config.js
  packages/farrow-koa/jest.config.js
  packages/farrow-module/jest.config.js
  packages/farrow-next/jest.config.js
  packages/farrow-pipeline/jest.config.js
  packages/farrow-pipeline/src/pipeline.ts
  packages/farrow-react/jest.config.js
  packages/farrow-schema/jest.config.js
  packages/farrow-vite/jest.config.js
  packages/farrow/jest.config.js
  pnpm-lock.yaml
  tsconfig.dist.json
  tsconfig.esm.json
Due: eslint --fix, prettier --write

docs(changeset): change JsonType from import to inline
  .changeset/mean-bobcats-provide.md
Due: prettier --write

ci: add 19.x
  .github/workflows/test.yml
Due: prettier --write

feat: change JsonType from import to inline (#177)
  .changeset/mean-bobcats-provide.md
  .github/workflows/test.yml
  package.json
  packages/farrow-api-server/__tests__/expected/01.ts
  packages/farrow-api-server/src/apiService.ts
  packages/farrow-api/__tests__/expected/01.ts
  packages/farrow-api/src/generateApi.ts
  packages/farrow-deno-api/__tests__/client.ts
  packages/farrow-deno-api/src/codegen.ts
  packages/farrow-deno-api/src/denoService.ts
  packages/farrow-deno-api/src/generateApiClient.ts
  packages/farrow-deno-api/src/index.ts
Due: eslint --fix, prettier --write

fix: it should clear all cache when batch called
  packages/farrow-api-client/src/apiPipeline.ts
Due: eslint --fix

fix(farrow-api-client): move type dependency to devDependencies
  packages/farrow-api-client/package.json
Due: prettier --write

chore: add changeset
  .changeset/polite-mails-collect.md
Due: prettier --write

refactor: restructure the farrow-api codegen, loader as runtime paramater for the client of farrow-api
  packages/farrow-api-client/__tests__/apiPipeline.test.ts
  packages/farrow-api-client/__tests__/route.ts
  packages/farrow-api-client/src/apiPipeline.ts
  packages/farrow-api-client/src/index.ts
  packages/farrow-api-server/__tests__/expected/01.ts
  packages/farrow-api-server/__tests__/generatorApiClient.test.ts
  packages/farrow-api-server/src/apiResponse.ts
  packages/farrow-api-server/src/apiService.ts
  packages/farrow-api-server/src/generateApiClient.ts
  packages/farrow-api/__tests__/expected/01.ts
  packages/farrow-api/__tests__/generateApi.test.ts
  packages/farrow-api/package.json
  packages/farrow-api/src/codegen.ts
  packages/farrow-api/src/prettier.ts
  packages/farrow-deno-api/__tests__/denoService.test.ts
  packages/farrow-deno-api/src/denoService.ts
  packages/farrow-deno-api/src/generateApiClient.ts
  packages/farrow-deno-api/src/index.ts
  packages/farrow/__tests__/farrow-api.test.ts
  packages/farrow/package.json
  packages/farrow/src/api-client/index.ts
  packages/farrow/src/api-client/replaceUrl.ts
  packages/farrow/src/scripts/build.ts
Due: eslint --fix, prettier --write

fix: make test-suits work again
  package.json
  packages/farrow-api-server/src/apiService.ts
  packages/farrow-api/src/codegen.ts
  packages/farrow/__tests__/farrow-server.test.ts
  packages/farrow/fixtures/project0/tsconfig.json
  packages/farrow/package.json
  packages/farrow/src/api-client/index.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix: ci test
  packages/farrow/package.json
  packages/farrow/src/api-client/index.ts
Due: eslint --fix, prettier --write

fix: ci test
  .eslintrc
  packages/farrow-api-server/src/apiResponse.ts
  packages/farrow-api-server/src/apiService.ts
  packages/farrow-api/__tests__/expected/01.ts
  packages/farrow-api/__tests__/generateApi.test.ts
  packages/farrow-api/package.json
  packages/farrow-api/src/codegen.ts
  packages/farrow-deno-api/src/denoService.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix: ci test
  packages/farrow-api/__tests__/expected/01.ts
Due: eslint --fix

feat(farrow-api): add new architecture for farrow-api client
  examples/next-app/server/index.ts
  examples/next-app/src/api/todo.ts
  examples/next-app/src/apis.ts
  examples/next-app/src/handleApi.ts
  examples/next-app/src/pages/index/View.tsx
  examples/next-app/src/pages/index/index.ts
  examples/todo-app/server/api/todo.ts
  examples/todo-app/src/App.tsx
  examples/todo-app/src/api/todo.ts
  examples/todo-app/src/apis.ts
  examples/todo-app/src/main.tsx
  packages/farrow-api-client/__tests__/apiPipeline.test.ts
  packages/farrow-api-client/__tests__/farrow-api-client.test.ts
  packages/farrow-api-client/package.json
  packages/farrow-api-client/src/Deferred.ts
  packages/farrow-api-client/src/createBatchProcessor.ts
  packages/farrow-api-client/src/farrow-api-client.ts
  packages/farrow-api-client/src/index.ts
  packages/farrow-api-client/src/stringifyJson.ts
  packages/farrow-api-server/__tests__/apiService.test.ts
  packages/farrow-api-server/package.json
  packages/farrow-api-server/src/apiResponse.ts
  packages/farrow-api-server/src/apiService.ts
  packages/farrow-api/__tests__/expected/01.ts
  packages/farrow-api/src/codegen.ts
  packages/farrow-deno-api/__tests__/client.ts
  packages/farrow-deno-api/__tests__/denoService.test.ts
  packages/farrow-deno-api/src/denoService.ts
  packages/farrow-federation/src/introspection.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix: ci test (#179)
  .eslintrc
  packages/farrow-api-server/src/apiResponse.ts
  packages/farrow-api-server/src/apiService.ts
  packages/farrow-api/__tests__/generateApi.test.ts
  packages/farrow-api/package.json
  packages/farrow-api/src/codegen.ts
  packages/farrow-deno-api/src/denoService.ts
  packages/farrow/src/api-client/index.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore: format codes
  .prettierignore
  examples/next-app/src/api/todo.ts
  examples/next-app/src/apis.ts
  examples/todo-app/server/api/todo.ts
  examples/todo-app/src/App.tsx
  examples/todo-app/src/api/todo.ts
  examples/todo-app/src/apis.ts
  packages/farrow-api-client/__tests__/farrow-api-client.test.ts
  packages/farrow-api-client/package.json
  packages/farrow-api-client/src/Deferred.ts
  packages/farrow-api-client/src/createBatchProcessor.ts
  packages/farrow-api-client/src/farrow-api-client.ts
  packages/farrow-api-client/src/index.ts
  packages/farrow-api-client/src/stringifyJson.ts
  packages/farrow-api-server/__tests__/apiService.test.ts
  packages/farrow-api-server/src/apiResponse.ts
  packages/farrow-api-server/src/apiService.ts
  packages/farrow-api/__tests__/generateApi.test.ts
  packages/farrow-api/src/codegen.ts
  packages/farrow-deno-api/__tests__/client.ts
  packages/farrow/fixtures/project0/tsconfig.json
Due: eslint --fix, prettier --write

fix: cli
  package.json
  packages/farrow-api-server/src/apiService.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore(ci): remove lint task
  .github/workflows/test.yml
Due: prettier --write

docs(changeset): new architecture for farrow-api
  .changeset/eleven-rice-think.md
Due: prettier --write

chore: publish v2.1.0
  examples/example/package.json
  examples/todo-app/package.json
  packages/create-farrow-app/templates/farrow-next-react/package.json
  packages/create-farrow-app/templates/farrow-vite-react/package.json
  packages/farrow-cors/package.json
  packages/farrow-deno-api/package.json
  packages/farrow-express/package.json
  packages/farrow-federation/package.json
  packages/farrow-koa/package.json
  packages/farrow-next-server/package.json
  packages/farrow-react/package.json
  packages/farrow-vite/package.json
  packages/farrow/package.json
Due: prettier --write

chore: remove lint in ci
  .github/workflows/benchmark.yml
Due: prettier --write

feat: farrow-api-server support disable stream callings
  .github/workflows/benchmark.yml
  .github/workflows/test.yml
  packages/farrow-api-server/__tests__/apiService.test.ts
  packages/farrow-api-server/src/apiCalling.ts
  packages/farrow-api-server/src/apiService.ts
  packages/farrow-api-server/src/index.ts
  packages/farrow-http/src/responseInfo.ts
Due: eslint --fix, prettier --write

fix: No matching version found for slash@^2.1.0
  packages/farrow/package.json
Due: prettier --write

fix: remove slash
  packages/farrow/package.json
  packages/farrow/src/bundler/server.ts
  packages/farrow/src/util/join.ts
  packages/farrow/src/util/slash.ts
Due: eslint --fix, prettier --write

fix(farrow-deno-api): make format style no affect for test-suits
  packages/farrow-deno-api/__tests__/denoService.test.ts
Due: eslint --fix

fix: cli
  package.json
  packages/farrow-deno-api/__tests__/client.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

ci: adjust node versions
  .github/workflows/benchmark.yml
  .github/workflows/test.yml
Due: prettier --write

fix: eslint
  .eslintignore
  .eslintrc
  .prettierignore
  package.json
  packages/create-farrow-app/src/index.ts
  packages/farrow-api-client/__tests__/farrow-api-client.test.ts
  packages/farrow-api-client/src/BatchProcessor.ts
  packages/farrow-api/src/api.ts
  packages/farrow-api/src/controvert.ts
  packages/farrow-cors/__tests__/cors.test.ts
  packages/farrow-federation/__tests__/fixtures/bar/getTodos.ts
  packages/farrow-federation/__tests__/fixtures/foo/getTodos.ts
  packages/farrow-http/src/logger.ts
  packages/farrow-http/src/router.ts
  packages/farrow-json-schema/__tests__/index.test.ts
  packages/farrow-json-schema/src/farrow-json-schema.ts
  packages/farrow-pipeline/__tests__/pipeline.test.ts
  packages/farrow-schema/src/helper.ts
  packages/farrow-schema/src/validator.ts
  packages/farrow/fixtures/project0/tsconfig.json
  packages/farrow/src/bundler/server.ts
  pnpm-lock.yaml
  tsconfig.json
Due: eslint --fix, prettier --write

ci: add lint
  .github/workflows/lint.yml
Due: prettier --write

ci: rename
  .github/workflows/lint.yml
  .github/workflows/test.yml
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{json,yml,md}
