Repository farrow-js/farrow: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix(farrow): lose `export const url =` after replace
  packages/farrow/src/api-client/replaceUrl.ts
Due: eslint --fix

v1.9.1
  examples/example/package.json
  examples/next-app/package-lock.json
  examples/next-app/package.json
  examples/todo-app/package.json
  lerna.json
  packages/create-farrow-app/templates/farrow-next-react/package-lock.json
  packages/create-farrow-app/templates/farrow-next-react/package.json
  packages/create-farrow-app/templates/farrow-only/package-lock.json
  packages/create-farrow-app/templates/farrow-only/package.json
  packages/create-farrow-app/templates/farrow-vite-react/package-lock.json
  packages/create-farrow-app/templates/farrow-vite-react/package.json
  packages/farrow-api-client/package.json
  packages/farrow-api-server/package.json
  packages/farrow-api/package.json
  packages/farrow-cors/package.json
  packages/farrow-http/package.json
  packages/farrow-next-server/package-lock.json
  packages/farrow-next-server/package.json
  packages/farrow-react/package.json
  packages/farrow-schema/package.json
  packages/farrow-vite/package.json
  packages/farrow/package.json
Due: prettier --write

chore: update CHANGELOG
  CHANGELOG.md
Due: prettier --write

fix(create-farrow-app): farrow build first to ensure the right api.src was replaced before client build
  packages/create-farrow-app/templates/farrow-next-react/package.json
  packages/create-farrow-app/templates/farrow-vite-react/package.json
Due: prettier --write

v1.9.2
  lerna.json
  packages/create-farrow-app/package.json
  packages/create-farrow-app/templates/farrow-next-react/package-lock.json
  packages/create-farrow-app/templates/farrow-next-react/package.json
  packages/create-farrow-app/templates/farrow-vite-react/package-lock.json
  packages/create-farrow-app/templates/farrow-vite-react/package.json
Due: prettier --write

chore: update changelog
  CHANGELOG.md
Due: prettier --write

feat(farrow-schema): support set Schema.displayName and codegen correctly
  packages/farrow-api/src/__tests__/codegen.test.ts
  packages/farrow-api/src/__tests__/expected/01.ts
  packages/farrow-api/src/__tests__/expected/02.ts
  packages/farrow-api/src/codegen.ts
  packages/farrow-schema/src/formater.ts
  packages/farrow-schema/src/schema.ts
Due: eslint --fix

v1.9.3
  examples/example/package.json
  examples/next-app/package-lock.json
  examples/next-app/package.json
  examples/todo-app/package.json
  lerna.json
  packages/create-farrow-app/templates/farrow-next-react/package-lock.json
  packages/create-farrow-app/templates/farrow-next-react/package.json
  packages/create-farrow-app/templates/farrow-only/package-lock.json
  packages/create-farrow-app/templates/farrow-only/package.json
  packages/create-farrow-app/templates/farrow-vite-react/package-lock.json
  packages/create-farrow-app/templates/farrow-vite-react/package.json
  packages/farrow-api-client/package.json
  packages/farrow-api-server/package.json
  packages/farrow-api/package.json
  packages/farrow-cors/package.json
  packages/farrow-http/package.json
  packages/farrow-next-server/package-lock.json
  packages/farrow-next-server/package.json
  packages/farrow-react/package.json
  packages/farrow-schema/package.json
  packages/farrow-vite/package.json
  packages/farrow/package.json
Due: prettier --write

fix(farrow): add esbuild-node-externals to ensure pkg/file can also be external
  examples/example/client/pet-store.ts
  examples/example/client/todo.ts
  examples/example/farrow.config.js
  package-lock.json
  packages/farrow/package.json
  packages/farrow/src/bundler/server.ts
Due: eslint --fix, prettier --write

feat(farrow-schema): support using displayName of UnionType/IntersectType to codegen client code
  packages/farrow-api/src/__tests__/codegen.test.ts
  packages/farrow-api/src/__tests__/expected/01.ts
  packages/farrow-api/src/__tests__/expected/02.ts
  packages/farrow-api/src/codegen.ts
  packages/farrow-schema/src/formater.ts
Due: eslint --fix

fix(farrow-schema): improve type for better tsc build output, no more long type expression
  packages/farrow-schema/src/schema.ts
Due: eslint --fix

v1.9.4
  examples/example/package.json
  examples/next-app/package-lock.json
  examples/next-app/package.json
  examples/todo-app/package.json
  lerna.json
  packages/create-farrow-app/templates/farrow-next-react/package-lock.json
  packages/create-farrow-app/templates/farrow-next-react/package.json
  packages/create-farrow-app/templates/farrow-only/package-lock.json
  packages/create-farrow-app/templates/farrow-only/package.json
  packages/create-farrow-app/templates/farrow-vite-react/package-lock.json
  packages/create-farrow-app/templates/farrow-vite-react/package.json
  packages/farrow-api-client/package.json
  packages/farrow-api-server/package.json
  packages/farrow-api/package.json
  packages/farrow-cors/package.json
  packages/farrow-http/package.json
  packages/farrow-next-server/package-lock.json
  packages/farrow-next-server/package.json
  packages/farrow-react/package.json
  packages/farrow-schema/package.json
  packages/farrow-vite/package.json
  packages/farrow/package.json
Due: prettier --write

fix(farrow-next): correct the wrong way to detect pathname change
  examples/example/tsconfig.json
  packages/farrow-next/src/page.tsx
Due: eslint --fix, prettier --write

v1.9.5
  examples/example/package.json
  examples/next-app/package-lock.json
  examples/next-app/package.json
  lerna.json
  packages/create-farrow-app/templates/farrow-next-react/package-lock.json
  packages/create-farrow-app/templates/farrow-next-react/package.json
  packages/farrow-next/package-lock.json
  packages/farrow-next/package.json
Due: prettier --write

refactor(farrow): upgrade esbuild version
  examples/next-app/src/api/todo.ts
  package-lock.json
  packages/farrow/package.json
  packages/farrow/src/bundler/server.ts
Due: eslint --fix, prettier --write

refactor(farrow-schema): improve conditional statement
  packages/farrow-api/src/codegen.ts
Due: eslint --fix

chore: add dependabot ci
  .github/workflows/dependabot.yml
Due: prettier --write

chore: bump esbuild version
  package-lock.json
  packages/farrow/package.json
Due: prettier --write

refactor(farrow-schema): add newFormatter.ts
  .prettierignore
  packages/farrow-schema/src/__tests__/newFormater.test.ts
  packages/farrow-schema/src/helper.ts
  packages/farrow-schema/src/newFormater.ts
  packages/farrow-schema/src/schema.ts
  packages/farrow-schema/src/validator.ts
Due: eslint --fix

refactor(farrow-api): add newToJSON.ts and newCodegen.ts
  .eslintignore
  packages/farrow-api/src/__tests__/newCodegen.test.ts
  packages/farrow-api/src/__tests__/newExpected/01.ts
  packages/farrow-api/src/__tests__/newExpected/02.ts
  packages/farrow-api/src/__tests__/newToJSON.test.ts
  packages/farrow-api/src/newCodegen.ts
  packages/farrow-api/src/newToJSON.ts
  packages/farrow-schema/src/newFormater.ts
Due: eslint --fix

refactor: replace formater with newFormater
  .eslintignore
  .prettierignore
  packages/farrow-api-server/src/__tests__/apiService.test.ts
  packages/farrow-api/src/__tests__/expected/01.ts
  packages/farrow-api/src/__tests__/expected/02.ts
  packages/farrow-api/src/__tests__/newCodegen.test.ts
  packages/farrow-api/src/__tests__/newExpected/01.ts
  packages/farrow-api/src/__tests__/newExpected/02.ts
  packages/farrow-api/src/__tests__/newToJSON.test.ts
  packages/farrow-api/src/__tests__/toJSON.test.ts
  packages/farrow-api/src/codegen.ts
  packages/farrow-api/src/newCodegen.ts
  packages/farrow-api/src/newToJSON.ts
  packages/farrow-api/src/toJSON.ts
  packages/farrow-schema/src/__tests__/formater.test.ts
  packages/farrow-schema/src/__tests__/newFormater.test.ts
  packages/farrow-schema/src/formater.ts
  packages/farrow-schema/src/newFormater.ts
  packages/farrow-schema/src/transformer.ts
Due: eslint --fix

feat(farrow-schema): support DateType
  examples/next-app/server/api/todo.ts
  examples/next-app/src/api/todo.ts
  packages/farrow-api/src/__tests__/codegen.test.ts
  packages/farrow-api/src/__tests__/expected/01.ts
  packages/farrow-api/src/__tests__/expected/02.ts
  packages/farrow-api/src/codegen.ts
  packages/farrow-schema/src/__tests__/formater.test.ts
  packages/farrow-schema/src/__tests__/validator.test.ts
  packages/farrow-schema/src/formater.ts
  packages/farrow-schema/src/schema.ts
  packages/farrow-schema/src/types.ts
  packages/farrow-schema/src/utils.ts
  packages/farrow-schema/src/validator.ts
Due: eslint --fix

chore: update package-lock.json
  package-lock.json
Due: prettier --write

v1.10.0
  examples/example/package.json
  examples/next-app/package-lock.json
  examples/next-app/package.json
  examples/todo-app/package.json
  lerna.json
  packages/create-farrow-app/templates/farrow-next-react/package-lock.json
  packages/create-farrow-app/templates/farrow-next-react/package.json
  packages/create-farrow-app/templates/farrow-only/package-lock.json
  packages/create-farrow-app/templates/farrow-only/package.json
  packages/create-farrow-app/templates/farrow-vite-react/package-lock.json
  packages/create-farrow-app/templates/farrow-vite-react/package.json
  packages/farrow-api-client/package.json
  packages/farrow-api-server/package.json
  packages/farrow-api/package.json
  packages/farrow-cors/package.json
  packages/farrow-http/package.json
  packages/farrow-next-server/package-lock.json
  packages/farrow-next-server/package.json
  packages/farrow-react/package.json
  packages/farrow-schema/package.json
  packages/farrow-vite/package.json
  packages/farrow/package.json
Due: prettier --write

chore: remove unused files
  packages/farrow-schema/transformer.d.ts
  packages/farrow-schema/transformer.js
Due: eslint --fix

fix(farrow-schema): fix typo, rename formater to formatter
  .prettierignore
  packages/farrow-api/src/codegen.ts
  packages/farrow-api/src/toJSON.ts
  packages/farrow-schema/formater.d.ts
  packages/farrow-schema/formater.js
  packages/farrow-schema/formatter.d.ts
  packages/farrow-schema/formatter.js
  packages/farrow-schema/package.json
  packages/farrow-schema/src/__tests__/formatter.test.ts
  packages/farrow-schema/src/formatter.ts
Due: eslint --fix, prettier --write

v1.10.1
  examples/example/package.json
  examples/next-app/package-lock.json
  examples/next-app/package.json
  examples/todo-app/package.json
  lerna.json
  packages/create-farrow-app/templates/farrow-next-react/package-lock.json
  packages/create-farrow-app/templates/farrow-next-react/package.json
  packages/create-farrow-app/templates/farrow-only/package-lock.json
  packages/create-farrow-app/templates/farrow-only/package.json
  packages/create-farrow-app/templates/farrow-vite-react/package-lock.json
  packages/create-farrow-app/templates/farrow-vite-react/package.json
  packages/farrow-api-client/package.json
  packages/farrow-api-server/package.json
  packages/farrow-api/package.json
  packages/farrow-cors/package.json
  packages/farrow-http/package.json
  packages/farrow-next-server/package-lock.json
  packages/farrow-next-server/package.json
  packages/farrow-react/package.json
  packages/farrow-schema/package.json
  packages/farrow-vite/package.json
  packages/farrow/package.json
Due: prettier --write

fix(farrow-schema): improve the dispaly format for Struct
  packages/farrow-schema/src/schema.ts
Due: eslint --fix

feat(farrow-schema): add partial operator support, only support ObjectType/StructType
  packages/farrow-api/src/__tests__/codegen.test.ts
  packages/farrow-api/src/__tests__/expected/01.ts
  packages/farrow-api/src/__tests__/expected/02.ts
  packages/farrow-api/src/codegen.ts
  packages/farrow-schema/src/__tests__/formatter.test.ts
  packages/farrow-schema/src/__tests__/validator.test.ts
  packages/farrow-schema/src/formatter.ts
  packages/farrow-schema/src/helper.ts
  packages/farrow-schema/src/schema.ts
  packages/farrow-schema/src/validator.ts
Due: eslint --fix

ci: add node16
  .github/workflows/ci.yml
Due: prettier --write

refactor: drop esm support
  examples/next-app/src/pages/index/Controller.ts
  packages/create-farrow-app/templates/farrow-next-react/src/api/greet.ts
  packages/farrow-api-client/package.json
  packages/farrow-module/package.json
  packages/farrow-module/src/__tests__/module.test.ts
  packages/farrow-module/src/module.ts
  packages/farrow-next/package.json
  packages/farrow-pipeline/package.json
  packages/farrow-schema/package.json
  packages/farrow-schema/src/formatter.ts
Due: eslint --fix, prettier --write

v1.10.2
  examples/example/package.json
  examples/next-app/package-lock.json
  examples/next-app/package.json
  examples/todo-app/package.json
  lerna.json
  packages/create-farrow-app/package.json
  packages/create-farrow-app/templates/farrow-next-react/package-lock.json
  packages/create-farrow-app/templates/farrow-next-react/package.json
  packages/create-farrow-app/templates/farrow-only/package-lock.json
  packages/create-farrow-app/templates/farrow-only/package.json
  packages/create-farrow-app/templates/farrow-vite-react/package-lock.json
  packages/create-farrow-app/templates/farrow-vite-react/package.json
  packages/farrow-api-client/package.json
  packages/farrow-api-server/package.json
  packages/farrow-api/package.json
  packages/farrow-cors/package.json
  packages/farrow-http/package.json
  packages/farrow-module/package.json
  packages/farrow-next-server/package-lock.json
  packages/farrow-next-server/package.json
  packages/farrow-next/package-lock.json
  packages/farrow-next/package.json
  packages/farrow-pipeline/package.json
  packages/farrow-react/package.json
  packages/farrow-schema/package.json
  packages/farrow-vite/package.json
  packages/farrow/package.json
Due: prettier --write

feat(farrow-schema): support parse json for object/struct in non-strict mode
  packages/farrow-schema/src/__tests__/validator.test.ts
  packages/farrow-schema/src/validator.ts
Due: eslint --fix

v1.10.3
  examples/example/package.json
  examples/next-app/package-lock.json
  examples/next-app/package.json
  examples/todo-app/package.json
  lerna.json
  packages/create-farrow-app/templates/farrow-next-react/package-lock.json
  packages/create-farrow-app/templates/farrow-next-react/package.json
  packages/create-farrow-app/templates/farrow-only/package-lock.json
  packages/create-farrow-app/templates/farrow-only/package.json
  packages/create-farrow-app/templates/farrow-vite-react/package-lock.json
  packages/create-farrow-app/templates/farrow-vite-react/package.json
  packages/farrow-api-client/package.json
  packages/farrow-api-server/package.json
  packages/farrow-api/package.json
  packages/farrow-cors/package.json
  packages/farrow-http/package.json
  packages/farrow-next-server/package-lock.json
  packages/farrow-next-server/package.json
  packages/farrow-react/package.json
  packages/farrow-schema/package.json
  packages/farrow-vite/package.json
  packages/farrow/package.json
Due: prettier --write

doc: fix typo
  packages/farrow-module/README.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{json,yml,md}
