Repository farrow-js/farrow: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore: update
  examples/next-app/pages/404.tsx
  examples/next-app/src/pages/404/index.tsx
  package-lock.json
  packages/farrow/package.json
Due: eslint --fix, prettier --write

chore: fix typo
  README.md
Due: prettier --write

chore(farrow-json-schema): build
  tsconfig.dist.json
  tsconfig.esm.json
Due: prettier --write

fix(farrow-json-schema): esm build
  package-lock.json
  packages/farrow-json-schema/tsconfig.esm.json
Due: prettier --write

docs: typo fix
  packages/farrow-koa/README.md
Due: prettier --write

feat(farrow-api-client): support custom fetcher
  packages/farrow-api-client/src/apiPipeline.ts
Due: eslint --fix

doc(farrow-api-client): custom fetcher
  packages/farrow-api-client/README.md
Due: prettier --write

Delete redundant logs
  packages/create-farrow-app/src/index.ts
Due: eslint --fix

Fix: typo
  examples/example/client/todo.ts
  examples/example/src/services/todo.ts
  examples/next-app/server/api/todo.ts
  examples/next-app/src/api/todo.ts
  examples/todo-app/server/api/todo.ts
  examples/todo-app/src/api/todo/createApiClient.ts
  packages/create-farrow-app/templates/farrow-only/client/todo.ts
  packages/create-farrow-app/templates/farrow-only/src/api/todo.ts
  packages/farrow-api/README.md
Due: eslint --fix, prettier --write

feat(farrow-pipeline): run onLast with context optionally
  packages/farrow-pipeline/src/__tests__/pipeline.test.ts
  packages/farrow-pipeline/src/pipeline.ts
Due: eslint --fix

fix: type error with typescript@4.4.3
  package-lock.json
  packages/farrow-http/src/responseInfo.ts
  tsconfig.dist.json
  tsconfig.esm.json
  tsconfig.json
Due: eslint --fix, prettier --write

doc(federation): add doc for farrow-federation
  packages/farrow-federation/README.md
  packages/farrow-federation/src/federation.ts
  packages/farrow-federation/src/info.ts
Due: eslint --fix, prettier --write

ci: switch to pnpm
  .github/workflows/ci.yml
Due: prettier --write

fix: node version
  package.json
Due: prettier --write

fix: init scripts
  package.json
Due: prettier --write

ci: update lerna to changeset
  .changeset/README.md
  .changeset/config.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

1.10.10
  .changeset/config.json
  package.json
  packages/create-farrow-app/CHANGELOG.md
  packages/farrow-api-client/CHANGELOG.md
  packages/farrow-api-client/package.json
  packages/farrow-api-server/CHANGELOG.md
  packages/farrow-api/CHANGELOG.md
  packages/farrow-cors/CHANGELOG.md
  packages/farrow-deno-api/CHANGELOG.md
  packages/farrow-express/CHANGELOG.md
  packages/farrow-federation/CHANGELOG.md
  packages/farrow-http/CHANGELOG.md
  packages/farrow-json-schema/CHANGELOG.md
  packages/farrow-json-schema/package.json
  packages/farrow-koa/CHANGELOG.md
  packages/farrow-module/CHANGELOG.md
  packages/farrow-next-server/CHANGELOG.md
  packages/farrow-next/CHANGELOG.md
  packages/farrow-pipeline/CHANGELOG.md
  packages/farrow-pipeline/package.json
  packages/farrow-react/CHANGELOG.md
  packages/farrow-schema/CHANGELOG.md
  packages/farrow-vite/CHANGELOG.md
  packages/farrow/CHANGELOG.md
  pnpm-lock.yaml
Due: prettier --write

fix(farrow-api-client): independent pipeline and onlast bug
  packages/farrow-api-client/src/apiPipeline.ts
Due: eslint --fix

fix(farrow-api-client): independent pipeline and onlast bug
  .changeset/blue-experts-kick.md
  packages/farrow-api-client/src/apiPipeline.ts
Due: eslint --fix, prettier --write

RELEASING: Releasing 1 package(s)
  .changeset/blue-experts-kick.md
  packages/farrow-api-client/CHANGELOG.md
  packages/farrow-api-client/package.json
Due: prettier --write

ci: add node 17
  .github/workflows/ci.yml
Due: prettier --write

fix(tests): fix test error
  .gitignore
  packages/farrow-deno-api/__tests__/denoService.test.ts
  packages/farrow-http/__tests__/https.test.ts
  pnpm-lock.yaml
Due: eslint --fix

feat(farrow-http): suppport ignoring the log of introspection request of farrow-api, fix #127
  .eslintignore
  examples/next-app/next-env.d.ts
  examples/next-app/server/index.ts
  packages/farrow-http/CHANGELOG.md
  packages/farrow-http/README.md
  packages/farrow-http/src/http.ts
  packages/farrow-http/src/requestInfo.ts
Due: eslint --fix, prettier --write

docs(changeset): support ignoring the log of introspection request of farrow-api
  .changeset/swift-ducks-clap.md
  examples/next-app/server/index.ts
  package.json
  packages/farrow-http/src/http.ts
Due: eslint --fix, prettier --write

chore: update CHANGELOG
  packages/farrow-http/CHANGELOG.md
Due: prettier --write

RELEASING: Releasing 1 package(s)
  .changeset/swift-ducks-clap.md
  packages/farrow-http/CHANGELOG.md
  packages/farrow-http/package.json
Due: prettier --write

chore(farrow): update esbuild
  packages/farrow/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: support esm and commonjs
  packages/farrow-api-client/package.json
  packages/farrow-api-server/package.json
  packages/farrow-api-server/tsconfig.esm.json
  packages/farrow-api/package.json
  packages/farrow-api/tsconfig.esm.json
  packages/farrow-cors/package.json
  packages/farrow-cors/tsconfig.esm.json
  packages/farrow-deno-api/package.json
  packages/farrow-deno-api/tsconfig.esm.json
  packages/farrow-express/package.json
  packages/farrow-express/tsconfig.esm.json
  packages/farrow-federation/package.json
  packages/farrow-federation/tsconfig.esm.json
  packages/farrow-http/package.json
  packages/farrow-http/tsconfig.esm.json
  packages/farrow-json-schema/package.json
  packages/farrow-koa/package.json
  packages/farrow-koa/tsconfig.esm.json
  packages/farrow-module/package.json
  packages/farrow-next-server/package.json
  packages/farrow-next-server/tsconfig.esm.json
  packages/farrow-next/package.json
  packages/farrow-pipeline/package.json
  packages/farrow-react/package.json
  packages/farrow-react/tsconfig.esm.json
  packages/farrow-schema/package.json
  packages/farrow-vite/package.json
  packages/farrow-vite/tsconfig.esm.json
  packages/farrow/package.json
  packages/farrow/tsconfig.esm.json
  tsconfig.esm.json
Due: prettier --write

chore: remove type: module
  packages/farrow-api-client/package.json
  packages/farrow-api-server/package.json
  packages/farrow-api/package.json
  packages/farrow-cors/package.json
  packages/farrow-deno-api/package.json
  packages/farrow-express/package.json
  packages/farrow-federation/package.json
  packages/farrow-http/package.json
  packages/farrow-json-schema/package.json
  packages/farrow-koa/package.json
  packages/farrow-module/package.json
  packages/farrow-next-server/package.json
  packages/farrow-next/package.json
  packages/farrow-pipeline/package.json
  packages/farrow-react/package.json
  packages/farrow-schema/package.json
  packages/farrow-vite/package.json
  packages/farrow/package.json
Due: prettier --write

fix: module exports
  packages/farrow-api-client/package.json
  packages/farrow-api-server/package.json
  packages/farrow-api/package.json
  packages/farrow-cors/package.json
  packages/farrow-deno-api/package.json
  packages/farrow-express/package.json
  packages/farrow-federation/package.json
  packages/farrow-http/package.json
  packages/farrow-json-schema/package.json
  packages/farrow-koa/package.json
  packages/farrow-module/package.json
  packages/farrow-next-server/package.json
  packages/farrow-next/package.json
  packages/farrow-pipeline/package.json
  packages/farrow-react/package.json
  packages/farrow-schema/package.json
  packages/farrow-vite/package.json
  packages/farrow/__tests__/farrow-server.test.ts
  packages/farrow/package.json
Due: eslint --fix, prettier --write

fix(http): route match basename error
  packages/farrow-http/src/basenames.ts
Due: eslint --fix

test(http): route match case
  packages/farrow-http/__tests__/router.test.ts
Due: eslint --fix

docs(changeset): Fix `router.route` match error
  .changeset/real-kiwis-pump.md
Due: prettier --write

chore: add change scripts
  package.json
Due: prettier --write

Fix http route match (#131)
  .changeset/real-kiwis-pump.md
  package.json
  packages/farrow-http/__tests__/router.test.ts
  packages/farrow-http/src/basenames.ts
Due: eslint --fix, prettier --write

RELEASING: Releasing 1 package(s)
  .changeset/real-kiwis-pump.md
  packages/farrow-http/CHANGELOG.md
  packages/farrow-http/package.json
Due: prettier --write

chore: Contributing
  CONTRIBUTING.md
Due: prettier --write

doc: add Contributing to readme
  README.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{json,yml,md}
