Repository farrow-js/farrow: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

ci: remove useless ci
  .github/workflows/benchmark.yml
  .github/workflows/test.yml
Due: prettier --write

ci: remove useless ci
  .github/workflows/benchmark.yml
Due: prettier --write

feat(farrow-vite): support async onBeforeSendHtml
  packages/farrow-vite/src/vite.ts
Due: eslint --fix

chore: fix merge conflict
  packages/farrow-module/src/test.ts
  packages/farrow-vite/package.json
  packages/farrow/package.json
  packages/farrow/src/api-client/replaceUrl.ts
Due: eslint --fix, prettier --write

docs(changeset): Performance Optimize
  .changeset/serious-dodos-jam.md
Due: prettier --write

docs(changeset): Performance Optimize (#149)
  .changeset/serious-dodos-jam.md
Due: prettier --write

fix(farrow-http): tsl -> tls
  README.md
  examples/todo-app/package.json
  packages/create-farrow-app/templates/farrow-vite-react/package.json
  packages/farrow-http/__tests__/https.test.ts
  packages/farrow-http/src/https.ts
  packages/farrow-vite/CHANGELOG.md
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

docs(changeset): Fix https typo
  .changeset/four-pants-admire.md
Due: prettier --write

feat(farrow-vite): support async onBeforeSendHtml
  examples/todo-app/package.json
  packages/create-farrow-app/templates/farrow-vite-react/package.json
  packages/farrow-vite/CHANGELOG.md
  packages/farrow-vite/package.json
  packages/farrow-vite/src/vite.ts
  packages/farrow/package.json
  packages/farrow/src/api-client/replaceUrl.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix(farrow-http): tsl -> tls (#148)
  .changeset/four-pants-admire.md
  README.md
  packages/farrow-http/__tests__/https.test.ts
  packages/farrow-http/src/https.ts
Due: eslint --fix, prettier --write

RELEASING: Releasing 5 package(s)
  .changeset/four-pants-admire.md
  .changeset/serious-dodos-jam.md
  packages/farrow-express/CHANGELOG.md
  packages/farrow-express/package.json
  packages/farrow-http/CHANGELOG.md
  packages/farrow-http/package.json
  packages/farrow-koa/CHANGELOG.md
  packages/farrow-koa/package.json
  packages/farrow-next-server/CHANGELOG.md
  packages/farrow-next-server/package.json
  packages/farrow-pipeline/CHANGELOG.md
  packages/farrow-pipeline/package.json
Due: prettier --write

docs(changeset): Performance Optimize
  .changeset/tidy-hotels-judge.md
Due: prettier --write

chore: add prepublish
  package.json
Due: prettier --write

RELEASING: Releasing 5 package(s)
  .changeset/tidy-hotels-judge.md
  packages/farrow-express/CHANGELOG.md
  packages/farrow-express/package.json
  packages/farrow-http/CHANGELOG.md
  packages/farrow-http/package.json
  packages/farrow-koa/CHANGELOG.md
  packages/farrow-koa/package.json
  packages/farrow-next-server/CHANGELOG.md
  packages/farrow-next-server/package.json
  packages/farrow-pipeline/CHANGELOG.md
  packages/farrow-pipeline/package.json
Due: prettier --write

RELEASING: Releasing 5 package(s)
  .changeset/four-pants-admire.md
  .changeset/serious-dodos-jam.md
  package.json
  packages/farrow-express/CHANGELOG.md
  packages/farrow-express/package.json
  packages/farrow-http/CHANGELOG.md
  packages/farrow-http/package.json
  packages/farrow-koa/CHANGELOG.md
  packages/farrow-koa/package.json
  packages/farrow-next-server/CHANGELOG.md
  packages/farrow-next-server/package.json
  packages/farrow-pipeline/CHANGELOG.md
  packages/farrow-pipeline/package.json
Due: prettier --write

refactor: farrow cli woth commander
  examples/benchmark/farrow.config.js
  examples/benchmark/farrow.sample.config.js
  examples/benchmark/farrow.schema.config.js
  examples/benchmark/index.js
  examples/benchmark/src/schema/index.ts
  packages/farrow/bin/scripts.js
  packages/farrow/fixtures/project0/package.json
  packages/farrow/package.json
  packages/farrow/scripts/build.js
  packages/farrow/scripts/dev.js
  packages/farrow/scripts/start.js
  packages/farrow/src/bin/index.ts
  packages/farrow/src/scripts/build.ts
  packages/farrow/src/scripts/dev.ts
  packages/farrow/src/scripts/start.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix: add deps to fixtures project
  packages/farrow/fixtures/project0/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --write

docs(changeset): Refactor with commander
  .changeset/pink-hounds-allow.md
Due: prettier --write

refactor: farrow cli woth commander (#151)
  .changeset/pink-hounds-allow.md
  examples/benchmark/farrow.config.js
  examples/benchmark/farrow.sample.config.js
  examples/benchmark/farrow.schema.config.js
  examples/benchmark/index.js
  examples/benchmark/src/schema/index.ts
  packages/farrow/bin/scripts.js
  packages/farrow/fixtures/project0/package.json
  packages/farrow/package.json
  packages/farrow/scripts/build.js
  packages/farrow/scripts/dev.js
  packages/farrow/scripts/start.js
  packages/farrow/src/bin/index.ts
  packages/farrow/src/scripts/build.ts
  packages/farrow/src/scripts/dev.ts
  packages/farrow/src/scripts/start.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --fix, prettier --write

fix(http): async pipeline
  packages/farrow-http/src/router.ts
  packages/farrow-vite/src/vite.ts
Due: eslint --fix

docs(changeset): Fix http async pipeline
  .changeset/fresh-spiders-fail.md
Due: prettier --write

Fix farrow vite use lazy, http need async pipeline (#153)
  .changeset/fresh-spiders-fail.md
  packages/farrow-http/src/router.ts
  packages/farrow-vite/src/vite.ts
Due: eslint --fix, prettier --write

RELEASING: Releasing 3 package(s)
  .changeset/fresh-spiders-fail.md
  .changeset/pink-hounds-allow.md
  packages/farrow-http/CHANGELOG.md
  packages/farrow-http/package.json
  packages/farrow-vite/CHANGELOG.md
  packages/farrow-vite/package.json
  packages/farrow/CHANGELOG.md
  packages/farrow/package.json
Due: prettier --write

chore: update lock file&fix security alert
  packages/farrow-api-client/tsconfig.json
  packages/farrow-api-server/tsconfig.json
  packages/farrow-next/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write

chore: update lock file&fix security alert (#154)
  packages/farrow-api-client/tsconfig.json
  packages/farrow-api-server/tsconfig.json
  packages/farrow-next/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write

fix: type error
  packages/farrow-deno-api/__tests__/denoService.test.ts
Due: eslint --fix

chore: fix node-fetch version for fix security alert
  packages/farrow-deno-api/package.json
Due: prettier --write

fix: type error (#155)
  packages/farrow-deno-api/__tests__/denoService.test.ts
  packages/farrow-deno-api/package.json
Due: eslint --fix, prettier --write

fix: lock file and type error
  packages/farrow-deno-api/__tests__/denoService.test.ts
  packages/farrow-deno-api/__tests__/tsconfig.json
  packages/farrow-deno-api/tsconfig.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

chore: update lock file&fix security alert (#154)
  packages/farrow-api-client/tsconfig.json
  packages/farrow-api-server/tsconfig.json
  packages/farrow-deno-api/__tests__/tsconfig.json
  packages/farrow-deno-api/package.json
  packages/farrow-deno-api/tsconfig.json
  packages/farrow-next/tsconfig.json
  pnpm-lock.yaml
Due: prettier --write

fix: set complie option target to es5
  tsconfig.json
Due: prettier --write

docs(changeset): set compile option: `target` to es5
  .changeset/silent-olives-pump.md
Due: prettier --write

set TS compile options: target to es5 (#158)
  .changeset/silent-olives-pump.md
  tsconfig.json
Due: prettier --write

RELEASING: Releasing 19 package(s)
  .changeset/silent-olives-pump.md
  packages/create-farrow-app/CHANGELOG.md
  packages/create-farrow-app/package.json
  packages/farrow-api-client/CHANGELOG.md
  packages/farrow-api-client/package.json
  packages/farrow-api-server/CHANGELOG.md
  packages/farrow-api-server/package.json
  packages/farrow-api/CHANGELOG.md
  packages/farrow-api/package.json
  packages/farrow-cors/CHANGELOG.md
  packages/farrow-cors/package.json
  packages/farrow-deno-api/CHANGELOG.md
  packages/farrow-deno-api/package.json
  packages/farrow-express/CHANGELOG.md
  packages/farrow-express/package.json
  packages/farrow-federation/CHANGELOG.md
  packages/farrow-federation/package.json
  packages/farrow-http/CHANGELOG.md
  packages/farrow-http/package.json
  packages/farrow-json-schema/CHANGELOG.md
  packages/farrow-json-schema/package.json
  packages/farrow-koa/CHANGELOG.md
  packages/farrow-koa/package.json
  packages/farrow-module/CHANGELOG.md
  packages/farrow-module/package.json
  packages/farrow-next-server/CHANGELOG.md
  packages/farrow-next-server/package.json
  packages/farrow-next/CHANGELOG.md
  packages/farrow-next/package.json
  packages/farrow-pipeline/CHANGELOG.md
  packages/farrow-pipeline/package.json
  packages/farrow-react/CHANGELOG.md
  packages/farrow-react/package.json
  packages/farrow-schema/CHANGELOG.md
  packages/farrow-schema/package.json
  packages/farrow-vite/CHANGELOG.md
  packages/farrow-vite/package.json
  packages/farrow/CHANGELOG.md
  packages/farrow/package.json
Due: prettier --write

feat(api-server): optional introspection
  packages/farrow-api-server/__tests__/apiService.test.ts
  packages/farrow-api-server/src/apiService.ts
Due: eslint --fix

chore: update lock file
  pnpm-lock.yaml
Due: none

docs(changeset): Feat optional interospection
  .changeset/slow-roses-pull.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{json,yml,md}
