Repository farrow-js/farrow: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "eslint --fix"
  ],
  "*.{json,yml,md}": [
    "prettier --write"
  ]
}

docs: fix typos in http doc example code
  docs/http.md
Due: prettier --write

docs: fix typo
  packages/example/README.md
Due: prettier --write

fix: bootstrap command should install lerna first
  package.json
Due: prettier --write

feat(graphql): support execute graphql
  packages/graphql/package.json
  packages/graphql/src/exec.ts
  packages/graphql/src/graphql.ts
  packages/graphql/src/resolver.ts
  packages/graphql/src/weather.schema.ts
Due: eslint --fix, prettier --write

chore: update setup script
  README.md
  package-lock.json
  package.json
  packages/graphql/src/weather.schema.ts
Due: eslint --fix, prettier --write

fix(farrow): fix esbuild version to avoid breaking
  package-lock.json
  packages/farrow/package.json
Due: prettier --write

chore(farrow): upgrade esbuild to 0.8.31
  package-lock.json
  packages/farrow/package.json
Due: prettier --write

v1.5.1
  lerna.json
  packages/example/package.json
  packages/farrow/package.json
  packages/graphql/package.json
Due: prettier --write

fix(graphql): add ts-node to dev deps
  packages/graphql/package.json
  packages/graphql/src/exec.ts
Due: eslint --fix, prettier --write

fix: auto build when initializing to fix #33
  package-lock.json
  package.json
Due: prettier --write

docs: fix typo
  docs/pipeline.md
Due: prettier --write

fix(farrow): upgrade esbuild to version 0.8.33 to fix #32
  package-lock.json
  packages/farrow/package.json
Due: prettier --write

v1.5.2
  lerna.json
  packages/example/package.json
  packages/farrow/package.json
  packages/graphql/package.json
Due: prettier --write

feat: apollo-server
  packages/apollo-server/README.md
  packages/apollo-server/package.json
  packages/apollo-server/src/ApolloServer.ts
  packages/apollo-server/src/farrowApollo.ts
  packages/apollo-server/src/index.ts
  packages/apollo-server/tsconfig.json
  tsconfig.build.json
Due: eslint --fix, prettier --write

Create greetings.yml
  .github/workflows/greetings.yml
Due: prettier --write

Create ci.yml
  .github/workflows/ci.yml
Due: prettier --write

Update ci.yml
  .github/workflows/ci.yml
Due: prettier --write

chore: update ci.yml
  .github/workflows/ci.yml
Due: prettier --write

chore(graphql): update
  packages/graphql/src/exec.ts
  packages/graphql/src/graphql.ts
Due: eslint --fix

fix(pipeline): forgot to enable async_hooks
  packages/pipeline/package.json
  packages/pipeline/src/asyncHooksImpl/node.ts
Due: eslint --fix, prettier --write

fix: publish src/ to npm for source-map
  packages/cors/package.json
  packages/farrow/package.json
  packages/graphql/package.json
  packages/graphql/src/exec.ts
  packages/http/package.json
  packages/react/package.json
  packages/schema/package.json
Due: eslint --fix, prettier --write

v1.5.3
  lerna.json
  packages/cors/package.json
  packages/example/package.json
  packages/farrow/package.json
  packages/graphql/package.json
  packages/http/package.json
  packages/pipeline/package.json
  packages/react/package.json
  packages/schema/package.json
Due: prettier --write

docs: update
  .github/workflows/greetings.yml
  README.md
  docs/ecosystem.md
Due: prettier --write

chore: update engines.node
  package.json
Due: prettier --write

chore: update node version
  package.json
Due: prettier --write

fix(schema): turn symbol key to string key to avoid tsc complaining
  packages/schema/src/schema.ts
Due: eslint --fix

refactor(schema): improve validator cache
  packages/schema/src/validator.ts
Due: eslint --fix

feat(bff): add bare implementation
  packages/bff/README.md
  packages/bff/package.json
  packages/bff/src/api.ts
  packages/bff/src/codegen.ts
  packages/bff/src/example.ts
  packages/bff/src/formater.ts
  packages/bff/src/test.schema.ts
  packages/bff/src/toJSON.ts
  packages/bff/tsconfig.json
  packages/schema/src/schema.ts
  packages/schema/src/transformer.ts
Due: eslint --fix, prettier --write

feat(bff): add prettier to format codegen
  packages/bff/package.json
  packages/bff/src/api.ts
  packages/bff/src/codegen.ts
  packages/bff/src/test.schema.ts
Due: eslint --fix, prettier --write

feat(bff): improve the readablity of codegen
  packages/bff/src/codegen.ts
  packages/bff/src/formater.ts
  packages/bff/src/test.schema.ts
Due: eslint --fix

refactor(bff): separate format and codegen
  packages/bff/package.json
  packages/bff/src/codegen.ts
  packages/bff/src/example.ts
  packages/bff/src/prettier.ts
  packages/bff/src/test.schema.ts
Due: eslint --fix, prettier --write

feat(api): complete proof of concept
  package-lock.json
  packages/api-server/README.md
  packages/api-server/package-lock.json
  packages/api-server/package.json
  packages/api-server/src/createApiService.ts
  packages/api-server/src/index.ts
  packages/api-server/tsconfig.json
  packages/api/README.md
  packages/api/package.json
  packages/api/src/api.ts
  packages/api/src/codegen.ts
  packages/api/src/example.ts
  packages/api/src/formater.ts
  packages/api/src/index.ts
  packages/api/src/prettier.ts
  packages/api/src/test.schema.ts
  packages/api/src/toJSON.ts
  packages/api/tsconfig.json
  packages/bff/README.md
  packages/example/client/todo.ts
  packages/example/farrow.config.js
  packages/example/package.json
  packages/example/src/index.ts
  packages/example/src/services/todo.ts
  packages/farrow/package.json
  packages/farrow/src/api-client/index.ts
  packages/farrow/src/build.ts
  packages/farrow/src/bundler/server.ts
  packages/farrow/src/config.ts
  packages/farrow/src/dev.ts
  packages/farrow/src/start.ts
  packages/farrow/src/util/join.ts
  packages/farrow/src/util/memo.ts
  packages/farrow/src/util/watchFiles.ts
  packages/http/src/index.ts
  packages/schema/src/index.ts
  packages/schema/src/validator.ts
  tsconfig.build.json
Due: eslint --fix, prettier --write

chore: upgrade tslib version
  package.json
  packages/api-server/package.json
  packages/api/package.json
  packages/cors/package.json
  packages/example/package.json
  packages/farrow/package.json
  packages/graphql/package.json
  packages/http/package.json
  packages/pipeline/package.json
  packages/react/package.json
  packages/schema/package.json
Due: prettier --write

refactor(http): improve error message
  packages/http/src/http.ts
Due: eslint --fix

refactor(api): response { error } instead of 400 response
  package-lock.json
  packages/api-server/src/createApiService.ts
  packages/api/src/codegen.ts
  packages/example/client/todo.ts
Due: eslint --fix, prettier --write

refactor(api-server): improve error response
  packages/api-server/src/createApiService.ts
Due: eslint --fix
