Repository farrow-js/farrow: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

v1.8.1
  examples/example/package.json
  examples/next-app/package-lock.json
  examples/next-app/package.json
  examples/todo-app/package.json
  lerna.json
  packages/create-farrow-app/package.json
  packages/create-farrow-app/templates/farrow-next-react/package-lock.json
  packages/create-farrow-app/templates/farrow-next-react/package.json
  packages/create-farrow-app/templates/farrow-only/package.json
  packages/create-farrow-app/templates/farrow-vite-react/package.json
  packages/farrow-api-client/package.json
  packages/farrow-api-server/package.json
  packages/farrow-api/package.json
  packages/farrow-cors/package.json
  packages/farrow-http/package.json
  packages/farrow-next-server/package-lock.json
  packages/farrow-next-server/package.json
  packages/farrow-react/package.json
  packages/farrow-vite/package.json
  packages/farrow/package.json
Due: prettier --write

fix: npm ignore .next folder
  packages/create-farrow-app/.npmignore
Due: none

v1.8.2
  lerna.json
  packages/create-farrow-app/package.json
Due: prettier --write

fix(create-farrow-app): fix gitignore and remove unnecessary files
  lerna.json
  packages/create-farrow-app/.npmignore
  packages/create-farrow-app/package.json
  packages/create-farrow-app/templates/farrow-next-react/_gitignore
  packages/create-farrow-app/templates/farrow-only/_gitignore
  packages/create-farrow-app/templates/farrow-vite-react/_gitignore
Due: prettier --write

v1.8.3
  lerna.json
  packages/create-farrow-app/package.json
Due: prettier --write

fix(create-farrow-app): npm ignore templates/*/node_modules...etc
  lerna.json
  packages/create-farrow-app/.gitignore
  packages/create-farrow-app/.npmignore
  packages/create-farrow-app/package.json
  packages/create-farrow-app/templates/farrow-next-react/package-lock.json
  packages/create-farrow-app/templates/farrow-only/package-lock.json
  packages/create-farrow-app/templates/farrow-vite-react/package-lock.json
  packages/create-farrow-app/templates/farrow-vite-react/server/index.ts
Due: eslint --fix, prettier --write

feat(farrow-next): support ctrl.reload life-cycle method
  packages/create-farrow-app/templates/farrow-next-react/src/pages/index/Controller.ts
  packages/create-farrow-app/templates/farrow-next-react/src/pages/index/View.tsx
  packages/farrow-next/src/controller.tsx
  packages/farrow-next/src/page.tsx
Due: eslint --fix

v1.8.4
  examples/next-app/package-lock.json
  examples/next-app/package.json
  lerna.json
  packages/create-farrow-app/package.json
  packages/create-farrow-app/templates/farrow-next-react/package-lock.json
  packages/create-farrow-app/templates/farrow-next-react/package.json
  packages/create-farrow-app/templates/farrow-only/package-lock.json
  packages/create-farrow-app/templates/farrow-only/package.json
  packages/create-farrow-app/templates/farrow-vite-react/package-lock.json
  packages/create-farrow-app/templates/farrow-vite-react/package.json
  packages/farrow-next/package-lock.json
  packages/farrow-next/package.json
Due: prettier --write

doc(farrow-next): update
  packages/farrow-next/README.md
Due: prettier --write

feat(farrow-api): each api-client has its apiPipeline
  packages/farrow-api-client/src/index.ts
  packages/farrow-api/src/__tests__/codegen.test.ts
  packages/farrow-api/src/__tests__/expected/01.ts
  packages/farrow-api/src/__tests__/expected/02.ts
  packages/farrow-api/src/codegen.ts
Due: eslint --fix

feat(farrow-api): support add ts-nocheck to codegen
  .eslintignore
  packages/farrow-api/src/__tests__/codegen.test.ts
  packages/farrow-api/src/__tests__/expected/01.ts
  packages/farrow-api/src/__tests__/expected/02.ts
  packages/farrow-api/src/codegen.ts
Due: eslint --fix

chore: refactor example for #55
  examples/next-app/src/api/todo.ts
  examples/next-app/src/handleApi.ts
Due: eslint --fix

v1.8.5
  examples/example/package.json
  examples/next-app/package-lock.json
  examples/next-app/package.json
  examples/todo-app/package.json
  lerna.json
  packages/create-farrow-app/templates/farrow-next-react/package-lock.json
  packages/create-farrow-app/templates/farrow-next-react/package.json
  packages/create-farrow-app/templates/farrow-only/package-lock.json
  packages/create-farrow-app/templates/farrow-only/package.json
  packages/create-farrow-app/templates/farrow-vite-react/package-lock.json
  packages/create-farrow-app/templates/farrow-vite-react/package.json
  packages/farrow-api-client/package.json
  packages/farrow-api-server/package.json
  packages/farrow-api/package.json
  packages/farrow-next/package-lock.json
  packages/farrow-next/package.json
  packages/farrow/package.json
Due: prettier --write

doc(farrow-api-client): update
  packages/farrow-api-client/README.md
Due: prettier --write

fix(farrow-api-client): should match the url in apiPipeline
  packages/farrow-api-client/src/__tests__/index.test.ts
  packages/farrow-api-client/src/index.ts
Due: eslint --fix

v1.8.6
  examples/example/package.json
  examples/next-app/package-lock.json
  examples/next-app/package.json
  lerna.json
  packages/create-farrow-app/templates/farrow-next-react/package-lock.json
  packages/create-farrow-app/templates/farrow-next-react/package.json
  packages/create-farrow-app/templates/farrow-only/package-lock.json
  packages/create-farrow-app/templates/farrow-only/package.json
  packages/create-farrow-app/templates/farrow-vite-react/package-lock.json
  packages/create-farrow-app/templates/farrow-vite-react/package.json
  packages/farrow-api-client/package.json
Due: prettier --write

fix(http): serve prevent directory traversal attack
  packages/farrow-http/fixtures/bar.js
  packages/farrow-http/fixtures/static/foo.js
  packages/farrow-http/src/__tests__/http.test.ts
  packages/farrow-http/src/router.ts
Due: eslint --fix

doc: farrow-next-server link
  README.md
Due: prettier --write

rafactor(farrow-next): remove ctrl.reload and add usePageInfo, useQueryChangedEffect
  packages/farrow-next/README.md
  packages/farrow-next/src/__tests__/next.test.tsx
  packages/farrow-next/src/controller.tsx
  packages/farrow-next/src/page-info.tsx
  packages/farrow-next/src/page.tsx
Due: eslint --fix, prettier --write

v1.8.7
  examples/example/package.json
  examples/next-app/package-lock.json
  examples/next-app/package.json
  examples/todo-app/package.json
  lerna.json
  packages/create-farrow-app/templates/farrow-next-react/package-lock.json
  packages/create-farrow-app/templates/farrow-next-react/package.json
  packages/create-farrow-app/templates/farrow-only/package-lock.json
  packages/create-farrow-app/templates/farrow-only/package.json
  packages/create-farrow-app/templates/farrow-vite-react/package-lock.json
  packages/create-farrow-app/templates/farrow-vite-react/package.json
  packages/farrow-api-client/package.json
  packages/farrow-api-server/package.json
  packages/farrow-cors/package.json
  packages/farrow-http/package.json
  packages/farrow-next-server/package-lock.json
  packages/farrow-next-server/package.json
  packages/farrow-next/package-lock.json
  packages/farrow-next/package.json
  packages/farrow-react/package.json
  packages/farrow-vite/package.json
  packages/farrow/package.json
Due: prettier --write

chore: update examples
  examples/next-app/src/pages/index/View.tsx
  packages/create-farrow-app/templates/farrow-next-react/src/api/greet.ts
Due: eslint --fix

feat(farrow-schema): add field for better IntelliSense
  packages/farrow-schema/src/schema.ts
Due: eslint --fix

v1.8.8
  examples/example/package.json
  examples/next-app/package-lock.json
  examples/next-app/package.json
  examples/todo-app/package.json
  lerna.json
  packages/create-farrow-app/package.json
  packages/create-farrow-app/templates/farrow-next-react/package-lock.json
  packages/create-farrow-app/templates/farrow-next-react/package.json
  packages/create-farrow-app/templates/farrow-only/package-lock.json
  packages/create-farrow-app/templates/farrow-only/package.json
  packages/create-farrow-app/templates/farrow-vite-react/package-lock.json
  packages/create-farrow-app/templates/farrow-vite-react/package.json
  packages/farrow-api-client/package.json
  packages/farrow-api-server/package.json
  packages/farrow-api/package.json
  packages/farrow-cors/package.json
  packages/farrow-http/package.json
  packages/farrow-next-server/package-lock.json
  packages/farrow-next-server/package.json
  packages/farrow-react/package.json
  packages/farrow-schema/package.json
  packages/farrow-vite/package.json
  packages/farrow/package.json
Due: prettier --write

fix(farrow-schema): fix typo
  packages/farrow-schema/src/schema.ts
Due: eslint --fix

v1.8.9
  examples/example/package.json
  examples/next-app/package-lock.json
  examples/next-app/package.json
  examples/todo-app/package.json
  lerna.json
  packages/create-farrow-app/templates/farrow-next-react/package-lock.json
  packages/create-farrow-app/templates/farrow-next-react/package.json
  packages/create-farrow-app/templates/farrow-only/package-lock.json
  packages/create-farrow-app/templates/farrow-only/package.json
  packages/create-farrow-app/templates/farrow-vite-react/package-lock.json
  packages/create-farrow-app/templates/farrow-vite-react/package.json
  packages/farrow-api-client/package.json
  packages/farrow-api-server/package.json
  packages/farrow-api/package.json
  packages/farrow-cors/package.json
  packages/farrow-http/package.json
  packages/farrow-next-server/package-lock.json
  packages/farrow-next-server/package.json
  packages/farrow-react/package.json
  packages/farrow-schema/package.json
  packages/farrow-vite/package.json
  packages/farrow/package.json
Due: prettier --write

feat(api-server): support batch
  packages/farrow-api-server/src/__tests__/apiService.test.ts
  packages/farrow-api-server/src/apiResponse.ts
  packages/farrow-api-server/src/apiService.ts
Due: eslint --fix

feat(api-client): support batch
  package-lock.json
  packages/farrow-api-client/package.json
  packages/farrow-api-client/src/__tests__/index.test.ts
  packages/farrow-api-client/src/index.ts
Due: eslint --fix, prettier --write

style(api-client): invoke overload
  packages/farrow-api-client/src/index.ts
Due: eslint --fix

feat(api): support pass batch to each api.invoke
  packages/farrow-api/src/codegen.ts
Due: eslint --fix

test(api): support new form
  packages/farrow-api/src/__tests__/codegen.test.ts
  packages/farrow-api/src/__tests__/expected/01.ts
Due: eslint --fix

feat(api-client): createApiMerge
  packages/farrow-api-client/src/__tests__/apiPipeline.test.ts
  packages/farrow-api-client/src/__tests__/mergeApi.test.ts
  packages/farrow-api-client/src/__tests__/route.ts
  packages/farrow-api-client/src/apiPipeline.ts
  packages/farrow-api-client/src/index.ts
  packages/farrow-api-client/src/mergeApi.ts
Due: eslint --fix

fix(api-client): remove useless
  packages/farrow-api-client/src/apiPipeline.ts
  packages/farrow-api-client/src/mergeApi.ts
Due: eslint --fix

style: optimize
  packages/farrow-api-client/src/__tests__/apiPipeline.test.ts
  packages/farrow-api-client/src/__tests__/mergeApi.test.ts
  packages/farrow-api-client/src/__tests__/route.ts
  packages/farrow-api-client/src/apiPipeline.ts
  packages/farrow-api-client/src/index.ts
  packages/farrow-api-client/src/mergeApi.ts
  packages/farrow-api-server/src/__tests__/apiService.test.ts
  packages/farrow-api-server/src/apiResponse.ts
  packages/farrow-api-server/src/apiService.ts
  packages/farrow-api/src/__tests__/expected/01.ts
  packages/farrow-api/src/codegen.ts
  packages/farrow/src/api-client/index.ts
Due: eslint --fix

feat(api-client): support batch option
  packages/farrow-api-client/src/apiPipeline.ts
  packages/farrow-api/src/__tests__/expected/01.ts
  packages/farrow-api/src/codegen.ts
Due: eslint --fix

refactor(farrow-api): do not batch request by default
  packages/farrow-api-client/src/apiPipeline.ts
  packages/farrow-api-server/src/apiResponse.ts
  packages/farrow-api/src/__tests__/expected/01.ts
  packages/farrow-api/src/codegen.ts
Due: eslint --fix

feat(farrow-schema): add Schema.new for better type infer
  packages/farrow-schema/src/schema.ts
Due: eslint --fix

refactor(farrow-schema): introduce weakmap-based storage
  packages/farrow-schema/src/cache.ts
  packages/farrow-schema/src/instance.ts
  packages/farrow-schema/src/newValidator.ts
  packages/farrow-schema/src/schema.ts
Due: eslint --fix

fix(farrow-schema): fix type error
  packages/farrow-schema/src/schema.ts
Due: eslint --fix

feat(farrow-vite): use default html if target html not find
  package-lock.json
  packages/farrow-vite/src/__tests__/index.html
  packages/farrow-vite/src/__tests__/sub/index.html
  packages/farrow-vite/src/__tests__/vite.test.ts
  packages/farrow-vite/src/vite.ts
Due: eslint --fix, prettier --write

fix(farrow-next): should reload when pathname change
  packages/farrow-next/src/page.tsx
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{json,yml,md}
