Repository farrow-js/farrow: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "eslint --fix"
  ],
  "*.{json,yml,md}": [
    "prettier --write"
  ]
}

fix: update useQueryChangedEffect
  packages/farrow-next/src/page.tsx
Due: eslint --fix

v1.8.10
  examples/example/package.json
  examples/next-app/package-lock.json
  examples/next-app/package.json
  examples/todo-app/package.json
  lerna.json
  packages/create-farrow-app/templates/farrow-next-react/package-lock.json
  packages/create-farrow-app/templates/farrow-next-react/package.json
  packages/create-farrow-app/templates/farrow-only/package-lock.json
  packages/create-farrow-app/templates/farrow-only/package.json
  packages/create-farrow-app/templates/farrow-vite-react/package-lock.json
  packages/create-farrow-app/templates/farrow-vite-react/package.json
  packages/farrow-api-client/package.json
  packages/farrow-api-server/package.json
  packages/farrow-api/package.json
  packages/farrow-cors/package.json
  packages/farrow-http/package.json
  packages/farrow-next-server/package-lock.json
  packages/farrow-next-server/package.json
  packages/farrow-next/package-lock.json
  packages/farrow-next/package.json
  packages/farrow-react/package.json
  packages/farrow-schema/package.json
  packages/farrow-vite/package.json
  packages/farrow/package.json
Due: prettier --write

fix(farrow-next): fix useQueryChangedEffect
  packages/farrow-next/src/page.tsx
Due: eslint --fix

fix(farrow-next): should not trigger ctrl.preload when only query changed
  examples/next-app/src/api/todo.ts
  examples/next-app/src/pages/index/Controller.ts
  packages/farrow-next/src/page.tsx
Due: eslint --fix

refactor(farrow-vite): add english comment
  packages/farrow-vite/src/vite.ts
Due: eslint --fix

fix(farrow-vite): fix test-cases error
  package.json
  packages/farrow-vite/src/__tests__/index.html
  packages/farrow-vite/src/__tests__/sub/index.html
  packages/farrow-vite/src/__tests__/vite.test.ts
Due: eslint --fix, prettier --write

chore: format html file in lint-stated
  .lintstagedrc
Due: none

v1.8.11
  examples/next-app/package-lock.json
  examples/next-app/package.json
  examples/todo-app/package.json
  lerna.json
  packages/create-farrow-app/templates/farrow-next-react/package-lock.json
  packages/create-farrow-app/templates/farrow-next-react/package.json
  packages/create-farrow-app/templates/farrow-vite-react/package-lock.json
  packages/create-farrow-app/templates/farrow-vite-react/package.json
  packages/farrow-next/package-lock.json
  packages/farrow-next/package.json
  packages/farrow-vite/package.json
Due: prettier --write

feat(package.json): prerelease do format before release
  package.json
Due: prettier --write

fix(api): codegen add type: Single
  packages/farrow-api/src/__tests__/expected/01.ts
  packages/farrow-api/src/codegen.ts
Due: eslint --fix

fix(api-client): dataloader setImmediate error
  packages/farrow-api-client/package.json
  packages/farrow-api-client/src/apiPipeline.ts
Due: eslint --fix, prettier --write

chore: modify some config
  packages/farrow-next/README.md
  packages/farrow-vite/src/__tests__/vite.test.ts
Due: eslint --fix, prettier --write

fix: fix prerelease error
  package.json
Due: prettier --write

v1.8.12
  examples/example/package.json
  examples/next-app/package-lock.json
  examples/next-app/package.json
  examples/todo-app/package.json
  lerna.json
  packages/create-farrow-app/templates/farrow-next-react/package-lock.json
  packages/create-farrow-app/templates/farrow-next-react/package.json
  packages/create-farrow-app/templates/farrow-only/package-lock.json
  packages/create-farrow-app/templates/farrow-only/package.json
  packages/create-farrow-app/templates/farrow-vite-react/package-lock.json
  packages/create-farrow-app/templates/farrow-vite-react/package.json
  packages/farrow-api-client/package.json
  packages/farrow-api-server/package.json
  packages/farrow-api/package.json
  packages/farrow-next/package-lock.json
  packages/farrow-next/package.json
  packages/farrow-vite/package.json
  packages/farrow/package.json
Due: prettier --write

feat(farrow-schema): add new validator and add the same test cases with old validator
  packages/farrow-schema/src/__tests__/newValidator.test.ts
  packages/farrow-schema/src/instance.ts
  packages/farrow-schema/src/newValidator.ts
  packages/farrow-schema/src/schema.ts
  packages/farrow-vite/src/__tests__/vite.test.ts
Due: eslint --fix

fix(farrow-vite): add .close() for vite-router-pipeline, fix jest leaks warning
  packages/farrow-vite/src/__tests__/vite.ts
  packages/farrow-vite/src/vite.ts
Due: eslint --fix

fix(prettier): ignore some files use syntax prettier unsupported yet
  .prettierignore
  packages/farrow-schema/src/__tests__/newValidator.test.ts
Due: eslint --fix

chore: remove some eslint rules
  .eslintrc
Due: none

doc: update
  README.md
Due: prettier --write

refactor(farrow-vite): collect all vite-dev-servers and supports to close them
  packages/farrow-vite/src/vite.ts
Due: eslint --fix

feat(farrow-schema): newValidator supports all features of oldValidator
  packages/farrow-schema/src/__tests__/newValidator.test.ts
  packages/farrow-schema/src/newValidator.ts
Due: eslint --fix

feat(farrow-schema): supports Validator.get(Ctor) to get current validator-methods
  packages/farrow-schema/src/newValidator.ts
Due: eslint --fix

feat(farrow-schema): add newFormatter and newSchema, wip
  .prettierignore
  packages/farrow-schema/src/newFormatter.ts
  packages/farrow-schema/src/newSchema.ts
  packages/farrow-schema/src/newValidator.ts
Due: eslint --fix

feat(farrow-schema): support add description/deprecated info for ObjectType
  packages/farrow-schema/src/newSchema.ts
Due: eslint --fix

refactor(farrow-schema): pretty comments
  packages/farrow-schema/src/newSchema.ts
Due: eslint --fix

feat(farrow-schema): newSchema add OptionalType to distinguish optional field and required field
  packages/farrow-schema/src/newSchema.ts
Due: eslint --fix

feat(farrow-schema): newValidator now is based on newSchema
  .prettierignore
  packages/farrow-schema/src/__tests__/newValidator.test.ts
  packages/farrow-schema/src/newSchema.ts
  packages/farrow-schema/src/newSchema/cache.ts
  packages/farrow-schema/src/newSchema/deprecatedInfo.ts
  packages/farrow-schema/src/newSchema/descriptionInfo.ts
  packages/farrow-schema/src/newSchema/index.ts
  packages/farrow-schema/src/newSchema/instance.ts
  packages/farrow-schema/src/newSchema/newSchema.ts
  packages/farrow-schema/src/newValidator.ts
Due: eslint --fix

feat(farrow-schema): newSchema & newValidator can pass all the tests for the old one
  packages/farrow-schema/src/__tests__/newValidator.test.ts
  packages/farrow-schema/src/newSchema/newSchema.ts
Due: eslint --fix

refactor(farrow-schema): remove old schema and old validtor, use new schema and new validator, pass all the test cases
  .prettierignore
  packages/farrow-http/src/router.ts
  packages/farrow-schema/src/__tests__/newValidator.test.ts
  packages/farrow-schema/src/formater.ts
  packages/farrow-schema/src/newFormatter.ts
  packages/farrow-schema/src/newSchema/cache.ts
  packages/farrow-schema/src/newSchema/index.ts
  packages/farrow-schema/src/newSchema/instance.ts
  packages/farrow-schema/src/newValidator.ts
  packages/farrow-schema/src/schema.ts
  packages/farrow-schema/src/schema/cache.ts
  packages/farrow-schema/src/schema/deprecatedInfo.ts
  packages/farrow-schema/src/schema/descriptionInfo.ts
  packages/farrow-schema/src/schema/index.ts
  packages/farrow-schema/src/schema/instance.ts
  packages/farrow-schema/src/schema/schema.ts
  packages/farrow-schema/src/validator.ts
Due: eslint --fix

fix(farrow-schema): fix the wrong type infer in ObjectType, rename Schema.new to Schema.create to avoid the type error in tsc build
  packages/farrow-schema/src/schema/schema.ts
Due: eslint --fix

refactor(farrow-schema): remove unused files
  packages/farrow-api/src/__tests__/api.test.ts
  packages/farrow-schema/src/schema.ts
  packages/farrow-schema/src/schema/cache.ts
  packages/farrow-schema/src/schema/deprecatedInfo.ts
  packages/farrow-schema/src/schema/descriptionInfo.ts
  packages/farrow-schema/src/schema/index.ts
  packages/farrow-schema/src/schema/instance.ts
  packages/farrow-schema/src/validator.ts
Due: eslint --fix

feat(farrow-schema): add omit/pick helper functions
  packages/farrow-schema/src/helper.ts
  packages/farrow-schema/src/index.ts
Due: eslint --fix

test(farrow-schema): add test-cases for helper functions
  packages/farrow-schema/src/__tests__/validator.test.ts
  packages/farrow-schema/src/helper.ts
Due: eslint --fix

feat(farrow-schema): add keyof object/struct support, add Tuple support
  packages/farrow-schema/src/__tests__/validator.test.ts
  packages/farrow-schema/src/helper.ts
  packages/farrow-schema/src/schema.ts
  packages/farrow-schema/src/validator.ts
Due: eslint --fix

feat(farrow-next): add options.Providers for page, supports pass provider value to Controllers of Page
  packages/farrow-next/README.md
  packages/farrow-next/src/__tests__/next.test.tsx
  packages/farrow-next/src/page.tsx
Due: eslint --fix, prettier --write

feat(farrow): add feature: replace src url in generated client code when farrow build
  packages/farrow/__tests__/farrow-api.test.ts
  packages/farrow/package.json
  packages/farrow/src/api-client/index.ts
  packages/farrow/src/api-client/replaceUrl.ts
  packages/farrow/src/build.ts
Due: eslint --fix, prettier --write

chore: update package-lock.json
  package-lock.json
Due: prettier --write

v1.9.0
  examples/example/package.json
  examples/next-app/package-lock.json
  examples/next-app/package.json
  examples/todo-app/package.json
  lerna.json
  packages/create-farrow-app/templates/farrow-next-react/package-lock.json
  packages/create-farrow-app/templates/farrow-next-react/package.json
  packages/create-farrow-app/templates/farrow-only/package-lock.json
  packages/create-farrow-app/templates/farrow-only/package.json
  packages/create-farrow-app/templates/farrow-vite-react/package-lock.json
  packages/create-farrow-app/templates/farrow-vite-react/package.json
  packages/farrow-api-client/package.json
  packages/farrow-api-server/package.json
  packages/farrow-api/package.json
  packages/farrow-cors/package.json
  packages/farrow-http/package.json
  packages/farrow-next-server/package-lock.json
  packages/farrow-next-server/package.json
  packages/farrow-next/package-lock.json
  packages/farrow-next/package.json
  packages/farrow-react/package.json
  packages/farrow-schema/package.json
  packages/farrow-vite/package.json
  packages/farrow/package.json
Due: prettier --write

chore: update CHANGELOG
  CHANGELOG.md
Due: prettier --write

doc(farrow-schema): update docs
  packages/farrow-schema/README.md
Due: prettier --write
