Repository farrow-js/farrow: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

docs(api): update
  packages/farrow-api-client/README.md
  packages/farrow-api-server/README.md
  packages/farrow/README.md
Due: prettier --write

v1.7.0
  examples/example/package-lock.json
  examples/example/package.json
  examples/next-app/package-lock.json
  examples/next-app/package.json
  examples/todo-app/package-lock.json
  examples/todo-app/package.json
  lerna.json
  packages/farrow-api-client/package.json
  packages/farrow-api-server/package.json
  packages/farrow-api/package.json
  packages/farrow-cors/package.json
  packages/farrow-http/package.json
  packages/farrow-module/package.json
  packages/farrow-next/package.json
  packages/farrow-pipeline/package.json
  packages/farrow-react/package.json
  packages/farrow-schema/package.json
  packages/farrow-vite/package.json
  packages/farrow/package.json
Due: prettier --write

fix cors not support function option
  .gitignore
  packages/farrow-cors/src/__tests__/cors.test.ts
  packages/farrow-cors/src/index.ts
Due: eslint --fix

test(farrow-api): fix test
  packages/farrow-api/src/__tests__/codegen.test.ts
Due: eslint --fix

v1.7.1
  examples/example/package-lock.json
  examples/example/package.json
  examples/next-app/package-lock.json
  examples/next-app/package.json
  examples/todo-app/package-lock.json
  examples/todo-app/package.json
  lerna.json
  packages/farrow-api-client/package.json
  packages/farrow-api-server/package.json
  packages/farrow-api/package.json
  packages/farrow-cors/package.json
  packages/farrow/package.json
Due: prettier --write

chore: update farrow-cors package.json
  packages/farrow-cors/package.json
Due: prettier --write

v1.7.2
  lerna.json
  packages/farrow-cors/package.json
Due: prettier --write

fix: update any types
  packages/farrow-cors/src/index.ts
Due: eslint --fix

fix: fix cors typing variance
  packages/farrow-cors/src/index.ts
Due: eslint --fix

fix(farrow-cors): pass IncomingMessage since it is covariant parameter
  packages/farrow-cors/src/index.ts
Due: eslint --fix

docs: update
  README.md
  packages/farrow-http/README.md
Due: prettier --write

doc: fix wrong link
  packages/farrow-http/README.md
Due: prettier --write

chore: add windows-latest to cli
  .github/workflows/ci.yml
Due: prettier --write

feat(farrow-api): add autoExternal option
  packages/farrow/src/bundler/server.ts
Due: eslint --fix

doc: update
  packages/farrow-api-server/README.md
  packages/farrow-api/README.md
  packages/farrow/README.md
Due: prettier --write

feat(http): support https
  packages/farrow-http/src/__tests__/https.test.ts
  packages/farrow-http/src/__tests__/keys/https-cert.pem
  packages/farrow-http/src/__tests__/keys/https-csr.pem
  packages/farrow-http/src/__tests__/keys/https-key.pem
  packages/farrow-http/src/context.ts
  packages/farrow-http/src/http.ts
  packages/farrow-http/src/https.ts
  packages/farrow-http/src/index.ts
  packages/farrow-http/src/util.ts
Due: eslint --fix

style(http/test): name of variable
  packages/farrow-http/src/__tests__/https.test.ts
Due: eslint --fix

feat: add esm supports for vite
  packages/farrow-api-client/package.json
  packages/farrow-api-client/tsconfig.esm.json
  packages/farrow-module/package.json
  packages/farrow-module/tsconfig.esm.json
  packages/farrow-pipeline/package.json
  packages/farrow-pipeline/tsconfig.esm.json
  packages/farrow-schema/package.json
  packages/farrow-schema/tsconfig.esm.json
Due: prettier --write

feat(farrow-api): do not emit JsonType import if no JsonType found
  packages/create-farrow-app/README.md
  packages/create-farrow-app/bin/scripts.js
  packages/create-farrow-app/package.json
  packages/create-farrow-app/src/index.ts
  packages/create-farrow-app/templates/server-and-vite-react/.gitignore
  packages/create-farrow-app/templates/server-and-vite-react/farrow.config.js
  packages/create-farrow-app/templates/server-and-vite-react/index.html
  packages/create-farrow-app/templates/server-and-vite-react/package.json
  packages/create-farrow-app/templates/server-and-vite-react/server/api/greet.ts
  packages/create-farrow-app/templates/server-and-vite-react/server/api/index.ts
  packages/create-farrow-app/templates/server-and-vite-react/server/index.ts
  packages/create-farrow-app/templates/server-and-vite-react/src/App.css
  packages/create-farrow-app/templates/server-and-vite-react/src/App.tsx
  packages/create-farrow-app/templates/server-and-vite-react/src/api/greet.ts
  packages/create-farrow-app/templates/server-and-vite-react/src/favicon.svg
  packages/create-farrow-app/templates/server-and-vite-react/src/index.css
  packages/create-farrow-app/templates/server-and-vite-react/src/logo.svg
  packages/create-farrow-app/templates/server-and-vite-react/src/main.tsx
  packages/create-farrow-app/templates/server-and-vite-react/tsconfig.json
  packages/create-farrow-app/templates/server-and-vite-react/vite.config.ts
  packages/create-farrow-app/templates/server-only/.gitignore
  packages/create-farrow-app/templates/server-only/client/todo.ts
  packages/create-farrow-app/templates/server-only/farrow.config.js
  packages/create-farrow-app/templates/server-only/package.json
  packages/create-farrow-app/templates/server-only/src/api/index.ts
  packages/create-farrow-app/templates/server-only/src/api/todo.ts
  packages/create-farrow-app/templates/server-only/src/index.ts
  packages/create-farrow-app/templates/server-only/tsconfig.json
  packages/create-farrow-app/tsconfig.json
  packages/farrow-api/src/codegen.ts
Due: eslint --fix, prettier --write

chore: update tsconfig.json...etc
  .eslintrc
  examples/example/package-lock.json
  examples/next-app/package-lock.json
  examples/todo-app/package-lock.json
  lerna.json
  package-lock.json
  package.json
  tsconfig.dist.json
  tsconfig.esm.json
Due: prettier --write

doc(http): support https
  packages/farrow-http/README.md
Due: prettier --write

doc(http): update structure
  packages/farrow-http/README.md
Due: prettier --write

fix(farrow): fix eslint error
  packages/farrow/__tests__/farrow-server.test.ts
Due: eslint --fix

doc: fix typo
  packages/farrow-api-client/README.md
  packages/farrow-api/README.md
Due: prettier --write

feat: add farrow-next-server package
  packages/farrow-next-server/README.md
  packages/farrow-next-server/package-lock.json
  packages/farrow-next-server/package.json
  packages/farrow-next-server/src/index.ts
  packages/farrow-next-server/src/server.ts
  packages/farrow-next-server/tsconfig.json
Due: eslint --fix, prettier --write

feat: add package.exports for pipeline, schema, module, api-client
  packages/farrow-api-client/package.json
  packages/farrow-api-client/tsconfig.esm.json
  packages/farrow-module/package.json
  packages/farrow-module/tsconfig.esm.json
  packages/farrow-pipeline/package.json
  packages/farrow-pipeline/tsconfig.esm.json
  packages/farrow-schema/package.json
  packages/farrow-schema/tsconfig.esm.json
Due: prettier --write

feat: farrow-next supports esm module
  packages/farrow-next/package-lock.json
  packages/farrow-next/package.json
  packages/farrow-next/tsconfig.esm.json
  tsconfig.dist.json
  tsconfig.esm.json
Due: prettier --write

fix: add create-farrow-app to tsconfig.json and change the color of each template name
  packages/create-farrow-app/src/index.ts
  tsconfig.dist.json
Due: eslint --fix, prettier --write

fix: node.js of 12.x doesn't support require('fs/promise')
  packages/farrow-api/src/__tests__/codegen.test.ts
  packages/farrow-vite/src/vite.ts
  packages/farrow/src/api-client/index.ts
  packages/farrow/src/bundler/server.ts
Due: eslint --fix

fix: mark all template projects private
  packages/create-farrow-app/templates/farrow-next-react/package.json
  packages/create-farrow-app/templates/farrow-only/package.json
  packages/create-farrow-app/templates/farrow-vite-react/package.json
  packages/create-farrow-app/templates/farrow-vite-react/server/index.ts
Due: eslint --fix, prettier --write

v1.8.0
  examples/example/package.json
  examples/next-app/package-lock.json
  examples/next-app/package.json
  examples/todo-app/package.json
  lerna.json
  packages/create-farrow-app/package.json
  packages/create-farrow-app/templates/farrow-next-react/package-lock.json
  packages/create-farrow-app/templates/farrow-next-react/package.json
  packages/create-farrow-app/templates/farrow-only/package.json
  packages/create-farrow-app/templates/farrow-vite-react/package.json
  packages/farrow-api-client/package.json
  packages/farrow-api-server/package.json
  packages/farrow-api/package.json
  packages/farrow-cors/package.json
  packages/farrow-http/package.json
  packages/farrow-module/package.json
  packages/farrow-next-server/package-lock.json
  packages/farrow-next-server/package.json
  packages/farrow-next/package-lock.json
  packages/farrow-next/package.json
  packages/farrow-pipeline/package.json
  packages/farrow-react/package.json
  packages/farrow-schema/package.json
  packages/farrow-vite/package.json
  packages/farrow/package.json
Due: prettier --write

ci: add node version 14.x 15.x
  .github/workflows/ci.yml
Due: prettier --write

ci: fix node version
  .github/workflows/ci.yml
Due: prettier --write

fix(create-farrow-app): add @types/node to all templates
  packages/create-farrow-app/templates/farrow-next-react/package.json
  packages/create-farrow-app/templates/farrow-only/package.json
  packages/create-farrow-app/templates/farrow-vite-react/package.json
Due: prettier --write

fix(farrow-api-client): use endsWith instead of includes
  packages/farrow-api-client/README.md
  packages/farrow-api-client/src/index.ts
Due: eslint --fix, prettier --write

doc(create-farrow-app): update
  packages/create-farrow-app/README.md
Due: prettier --write

doc: add farrow-next-server to reademe
  README.md
Due: prettier --write

fix(farrow-api-client): fix test
  packages/farrow-api-client/src/__tests__/index.test.ts
Due: eslint --fix

chore: upgrade peerDependencies
  packages/farrow-api-client/package.json
  packages/farrow-api-server/package.json
  packages/farrow-api/package.json
  packages/farrow-cors/package.json
  packages/farrow-http/package.json
  packages/farrow-next-server/package.json
  packages/farrow-react/package.json
  packages/farrow-vite/package.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{json,yml,md}
