Repository farrow-js/farrow: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "eslint --fix"
  ],
  "*.{json,yml,md}": [
    "prettier --write"
  ]
}

chore: Contributing (#132)
  CONTRIBUTING.md
  README.md
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

fix(create-farrow-app): script name: farrow -> create-farrow-app
  packages/create-farrow-app/package.json
Due: prettier --write

fix(create-farrow-app): script name: farrow -> create-farrow-app (#133)
  packages/create-farrow-app/package.json
Due: prettier --write

docs(changeset): Fix script name
  .changeset/fuzzy-gifts-shave.md
Due: prettier --write

RELEASING: Releasing 1 package(s)
  .changeset/fuzzy-gifts-shave.md
  packages/create-farrow-app/CHANGELOG.md
  packages/create-farrow-app/package.json
Due: prettier --write

docs(changeset): Fix http route match basename bug
  .changeset/poor-spiders-admire.md
  packages/farrow-http/__tests__/basename.test.ts
  packages/farrow-http/__tests__/router.test.ts
  packages/farrow-http/src/basenames.ts
Due: eslint --fix, prettier --write

docs(changeset): Fix http route match basename bug (#136)
  .changeset/poor-spiders-admire.md
  packages/farrow-http/__tests__/basename.test.ts
  packages/farrow-http/__tests__/router.test.ts
  packages/farrow-http/src/basenames.ts
Due: eslint --fix, prettier --write

RELEASING: Releasing 1 package(s)
  .changeset/poor-spiders-admire.md
  packages/farrow-http/CHANGELOG.md
  packages/farrow-http/package.json
Due: prettier --write

docs(changeset): Update the dependency for DX
  .changeset/empty-scissors-sneeze.md
Due: prettier --write

docs: deps
  package.json
Due: prettier --write

Perf deps docs (#139)
  .changeset/empty-scissors-sneeze.md
  package.json
Due: prettier --write

chore: reset false version
  examples/example/CHANGELOG.md
  examples/example/package.json
  examples/todo-app/package.json
  packages/create-farrow-app/templates/farrow-next-react/CHANGELOG.md
  packages/create-farrow-app/templates/farrow-next-react/package.json
  packages/create-farrow-app/templates/farrow-vite-react/package.json
  packages/farrow-cors/CHANGELOG.md
  packages/farrow-cors/package.json
  packages/farrow-deno-api/CHANGELOG.md
  packages/farrow-deno-api/package.json
  packages/farrow-express/CHANGELOG.md
  packages/farrow-express/package.json
  packages/farrow-federation/CHANGELOG.md
  packages/farrow-federation/package.json
  packages/farrow-koa/CHANGELOG.md
  packages/farrow-koa/package.json
  packages/farrow-next-server/CHANGELOG.md
  packages/farrow-next-server/package.json
  packages/farrow-react/CHANGELOG.md
  packages/farrow-react/package.json
  packages/farrow-vite/CHANGELOG.md
  packages/farrow-vite/package.json
Due: prettier --write

chore: update broken version to 1.11.0
  examples/example/package.json
  examples/next-app/package-lock.json
  examples/next-app/package.json
  examples/todo-app/package-lock.json
  examples/todo-app/package.json
  packages/create-farrow-app/CHANGELOG.md
  packages/create-farrow-app/package.json
  packages/create-farrow-app/templates/farrow-next-react/package-lock.json
  packages/create-farrow-app/templates/farrow-next-react/package.json
  packages/create-farrow-app/templates/farrow-only/package-lock.json
  packages/create-farrow-app/templates/farrow-only/package.json
  packages/create-farrow-app/templates/farrow-vite-react/package-lock.json
  packages/create-farrow-app/templates/farrow-vite-react/package.json
  packages/farrow-cors/CHANGELOG.md
  packages/farrow-cors/package.json
  packages/farrow-deno-api/CHANGELOG.md
  packages/farrow-deno-api/package.json
  packages/farrow-express/package.json
  packages/farrow-federation/CHANGELOG.md
  packages/farrow-federation/package.json
  packages/farrow-koa/CHANGELOG.md
  packages/farrow-koa/package.json
  packages/farrow-next-server/CHANGELOG.md
  packages/farrow-next-server/package.json
  packages/farrow-react/CHANGELOG.md
  packages/farrow-react/package.json
  packages/farrow-vite/CHANGELOG.md
  packages/farrow-vite/package.json
Due: prettier --write

chore: update broken version to 1.11.0
  packages/farrow-express/CHANGELOG.md
Due: prettier --write

fix: node version
  packages/farrow-pipeline/package.json
Due: prettier --write

fix(farrow-vite): node version
  packages/farrow-vite/package.json
Due: prettier --write

doc(pipeline, vite): changelog
  packages/farrow-pipeline/CHANGELOG.md
  packages/farrow-vite/CHANGELOG.md
Due: prettier --write

chore: update dependencies
  packages/farrow-express/package.json
  pnpm-lock.yaml
Due: prettier --write

feat(farrow-api-client): api.setFetcher && api.invoke with fetcher
  packages/farrow-api-client/src/apiPipeline.ts
Due: eslint --fix

docs(changeset): Feat: api.setFetcher && api.invoke with fetcher
  .changeset/rich-paws-tie.md
Due: prettier --write

chore: fix style
  packages/farrow-api-client/src/apiPipeline.ts
Due: eslint --fix

feat(farrow-api-client): api.setFetcher && api.invoke with fetcher (#144)
  .changeset/rich-paws-tie.md
  packages/farrow-api-client/src/apiPipeline.ts
Due: eslint --fix, prettier --write

feat(farrow): defineConfig
  packages/farrow/src/index.ts
Due: eslint --fix

docs(changeset): Feat defineConfig
  .changeset/lucky-walls-beg.md
Due: prettier --write

feat(farrow): defineConfig (#145)
  .changeset/lucky-walls-beg.md
  packages/farrow/src/index.ts
Due: eslint --fix, prettier --write

RELEASING: Releasing 2 package(s)
  .changeset/lucky-walls-beg.md
  .changeset/rich-paws-tie.md
  packages/farrow-api-client/CHANGELOG.md
  packages/farrow-api-client/package.json
  packages/farrow/CHANGELOG.md
  packages/farrow/package.json
Due: prettier --write

fix(farrow-vite): fix bug when getHTMLPath(url) meet querystring
  packages/farrow-vite/package.json
  packages/farrow-vite/src/vite.ts
Due: eslint --fix, prettier --write

docs(changeset): fix but when getHtmlPath(url) meet querystring
  .changeset/khaki-turtles-fetch.md
Due: prettier --write

RELEASING: Releasing 1 package(s)
  .changeset/khaki-turtles-fetch.md
  packages/farrow-vite/CHANGELOG.md
  packages/farrow-vite/package.json
Due: prettier --write

feat(farrow-vite): add callback for handling html before sending to client
  packages/farrow-vite/src/vite.ts
Due: eslint --fix

chore: bump version of farrow-vite to 1.11.4
  packages/farrow-vite/package.json
Due: prettier --write

ci: add benchmark
  .github/workflows/benchmark.yml
Due: prettier --write

ci: update name
  .github/workflows/benchmark.yml
  .github/workflows/test.yml
Due: prettier --write

ci: remove useless ci
  .github/workflows/test.yml
Due: prettier --write
