Repository farrow-js/farrow: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

ci: update action
  .github/workflows/benchmark.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
Due: prettier --write

ci: update pnpm to v8
  .github/workflows/benchmark.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
  package.json
  pnpm-lock.yaml
Due: prettier --write

ci: update pnpm to v8
  packages/farrow-pipeline/__tests__/pipeline.test.ts
Due: eslint --fix

docs(changeset): bump version with patch
  .changeset/selfish-lizards-raise.md
Due: prettier --write

RELEASING: Releasing 18 package(s)
  .changeset/selfish-lizards-raise.md
  packages/farrow-api-client/CHANGELOG.md
  packages/farrow-api-client/package.json
  packages/farrow-api-server/CHANGELOG.md
  packages/farrow-api-server/package.json
  packages/farrow-api/CHANGELOG.md
  packages/farrow-api/package.json
  packages/farrow-cors/CHANGELOG.md
  packages/farrow-cors/package.json
  packages/farrow-deno-api/CHANGELOG.md
  packages/farrow-deno-api/package.json
  packages/farrow-express/CHANGELOG.md
  packages/farrow-express/package.json
  packages/farrow-federation/CHANGELOG.md
  packages/farrow-federation/package.json
  packages/farrow-http/CHANGELOG.md
  packages/farrow-http/package.json
  packages/farrow-json-schema/CHANGELOG.md
  packages/farrow-json-schema/package.json
  packages/farrow-koa/CHANGELOG.md
  packages/farrow-koa/package.json
  packages/farrow-module/CHANGELOG.md
  packages/farrow-module/package.json
  packages/farrow-next-server/CHANGELOG.md
  packages/farrow-next-server/package.json
  packages/farrow-next/CHANGELOG.md
  packages/farrow-next/package.json
  packages/farrow-pipeline/CHANGELOG.md
  packages/farrow-pipeline/package.json
  packages/farrow-react/CHANGELOG.md
  packages/farrow-react/package.json
  packages/farrow-schema/CHANGELOG.md
  packages/farrow-schema/package.json
  packages/farrow-vite/CHANGELOG.md
  packages/farrow-vite/package.json
  packages/farrow/CHANGELOG.md
  packages/farrow/package.json
Due: prettier --write

chore: format code
  packages/farrow/src/bundler/server.ts
  packages/farrow/src/util/slash.ts
Due: eslint --fix

(WIP)fix: cli (#181)
  .eslintignore
  .eslintrc
  .github/workflows/lint.yml
  .github/workflows/test.yml
  .prettierignore
  package.json
  packages/create-farrow-app/src/index.ts
  packages/farrow-api-client/__tests__/farrow-api-client.test.ts
  packages/farrow-api-client/src/BatchProcessor.ts
  packages/farrow-api/src/api.ts
  packages/farrow-api/src/controvert.ts
  packages/farrow-cors/__tests__/cors.test.ts
  packages/farrow-deno-api/__tests__/client.ts
  packages/farrow-federation/__tests__/fixtures/bar/getTodos.ts
  packages/farrow-federation/__tests__/fixtures/foo/getTodos.ts
  packages/farrow-http/src/logger.ts
  packages/farrow-http/src/router.ts
  packages/farrow-json-schema/__tests__/index.test.ts
  packages/farrow-json-schema/src/farrow-json-schema.ts
  packages/farrow-pipeline/__tests__/pipeline.test.ts
  packages/farrow-schema/src/helper.ts
  packages/farrow-schema/src/validator.ts
  packages/farrow/fixtures/project0/tsconfig.json
  packages/farrow/src/bundler/server.ts
  pnpm-lock.yaml
  tsconfig.json
Due: eslint --fix, prettier --write

fix(farrow): close server in test-cases
  packages/farrow/__tests__/farrow-server.test.ts
Due: eslint --fix

fix: testcast
  packages/farrow/__tests__/farrow-server.test.ts
  pnpm-lock.yaml
Due: eslint --fix

fix: timeout
  packages/farrow/__tests__/farrow-server.test.ts
Due: eslint --fix

fix: timeout
  packages/farrow/package.json
  pnpm-lock.yaml
Due: prettier --write

feat: update deps jest tslib typescript
  examples/benchmark/package.json
  examples/example/package.json
  examples/next-app/package.json
  examples/todo-app/package.json
  packages/create-farrow-app/package.json
  packages/create-farrow-app/templates/farrow-next-react/package.json
  packages/create-farrow-app/templates/farrow-only/package.json
  packages/create-farrow-app/templates/farrow-vite-react/package.json
  packages/farrow-api-client/package.json
  packages/farrow-api-server/package.json
  packages/farrow-api/package.json
  packages/farrow-cors/package.json
  packages/farrow-deno-api/package.json
  packages/farrow-express/package.json
  packages/farrow-federation/__tests__/__snapshots__/federation.test.ts.snap
  packages/farrow-federation/__tests__/federation.test.ts
  packages/farrow-federation/package.json
  packages/farrow-http/package.json
  packages/farrow-json-schema/package.json
  packages/farrow-koa/package.json
  packages/farrow-module/package.json
  packages/farrow-next-server/package.json
  packages/farrow-next/package.json
  packages/farrow-pipeline/package.json
  packages/farrow-react/package.json
  packages/farrow-schema/package.json
  packages/farrow-vite/package.json
  packages/farrow/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

refactor: use AsyncLocalStorage instead of async_hooks to improve performance
  packages/farrow-express/__tests__/express.test.ts
  packages/farrow-http/__tests__/http.test.ts
  packages/farrow-http/__tests__/router.test.ts
  packages/farrow-http/src/basenames.ts
  packages/farrow-http/src/context.ts
  packages/farrow-http/src/index.ts
  packages/farrow-http/src/response.ts
  packages/farrow-koa/__tests__/koa.test.ts
  packages/farrow-pipeline/__tests__/pipeline.test.ts
  packages/farrow-pipeline/asyncHooks.node.d.ts
  packages/farrow-pipeline/asyncHooks.node.js
  packages/farrow-pipeline/asyncTracerImpl.node.js
  packages/farrow-pipeline/asyncTracerImpl.node.ts
  packages/farrow-pipeline/package.json
  packages/farrow-pipeline/src/asyncHooksImpl/browser.ts
  packages/farrow-pipeline/src/asyncHooksImpl/node.ts
  packages/farrow-pipeline/src/asyncHooksInterface.ts
  packages/farrow-pipeline/src/asyncTracerImpl/browser.ts
  packages/farrow-pipeline/src/asyncTracerImpl/node.ts
  packages/farrow-pipeline/src/asyncTracerInterface.ts
  packages/farrow-pipeline/src/context.ts
  packages/farrow-pipeline/src/hook.ts
  packages/farrow-pipeline/src/pipeline.ts
  packages/farrow-react/src/react.tsx
Due: eslint --fix, prettier --write

fix: testcase (#182)
  examples/benchmark/package.json
  examples/example/package.json
  examples/next-app/package.json
  examples/todo-app/package.json
  packages/create-farrow-app/package.json
  packages/create-farrow-app/templates/farrow-next-react/package.json
  packages/create-farrow-app/templates/farrow-only/package.json
  packages/create-farrow-app/templates/farrow-vite-react/package.json
  packages/farrow-api-client/package.json
  packages/farrow-api-server/package.json
  packages/farrow-api/package.json
  packages/farrow-cors/package.json
  packages/farrow-deno-api/package.json
  packages/farrow-express/package.json
  packages/farrow-federation/__tests__/__snapshots__/federation.test.ts.snap
  packages/farrow-federation/__tests__/federation.test.ts
  packages/farrow-federation/package.json
  packages/farrow-http/package.json
  packages/farrow-json-schema/package.json
  packages/farrow-koa/package.json
  packages/farrow-module/package.json
  packages/farrow-next-server/package.json
  packages/farrow-next/package.json
  packages/farrow-pipeline/package.json
  packages/farrow-react/package.json
  packages/farrow-schema/package.json
  packages/farrow-vite/package.json
  packages/farrow/__tests__/farrow-server.test.ts
  packages/farrow/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

docs: update badge
  README.md
Due: prettier --write

test(farrow-api-server): add test-cases
  packages/farrow-api-server/__tests__/apiService.test.ts
  packages/farrow-api-server/src/apiService.ts
Due: eslint --fix

feat(farrow-api-server): support subscribe onSuccess/onError event
  packages/farrow-api-server/src/apiService.ts
  pnpm-lock.yaml
Due: eslint --fix

feat(farrow-api): it can attach header and footer when codegen
  packages/farrow-api/__tests__/generateApi.test.ts
  packages/farrow-api/src/codegen.ts
Due: eslint --fix

docs(changeset): bump minor version to 2.2.0
  .changeset/metal-boxes-smile.md
Due: prettier --write

fix: correct the wrong version caused by pnpm version
  examples/example/package.json
  examples/todo-app/package.json
  packages/create-farrow-app/templates/farrow-next-react/package.json
  packages/create-farrow-app/templates/farrow-vite-react/package.json
  packages/farrow-cors/package.json
  packages/farrow-deno-api/package.json
  packages/farrow-express/package.json
  packages/farrow-federation/package.json
  packages/farrow-koa/package.json
  packages/farrow-next-server/package.json
  packages/farrow-react/package.json
  packages/farrow-vite/package.json
Due: prettier --write

chore: format codes
  packages/farrow-api-server/__tests__/apiService.test.ts
  packages/farrow-api/__tests__/generateApi.test.ts
  packages/farrow-api/src/codegen.ts
  packages/farrow-pipeline/__tests__/pipeline.test.ts
  packages/farrow-pipeline/package.json
  packages/farrow-pipeline/src/asyncTracerImpl/node.ts
  packages/farrow-pipeline/src/pipeline.ts
  packages/farrow/__tests__/farrow-server.test.ts
Due: eslint --fix, prettier --write

chore: eslint --fix
  packages/farrow-api/src/codegen.ts
  packages/farrow-http/src/responseInfo.ts
  packages/farrow-module/__tests__/module.test.ts
  packages/farrow-next/src/store.ts
  packages/farrow-pipeline/__tests__/pipeline.test.ts
  packages/farrow-schema/src/types.ts
Due: eslint --fix

fix(eslint): disable eslint in some lines
  packages/farrow-schema/src/schema.ts
Due: eslint --fix

fix(farrow): swap order of object spread to allow overriding options
  packages/farrow/src/api-client/index.ts
Due: eslint --fix

docs(changeset): farrow@2.2.1
  .changeset/clever-masks-admire.md
Due: prettier --write

RELEASING: Releasing 1 package(s)
  .changeset/clever-masks-admire.md
  packages/farrow/CHANGELOG.md
  packages/farrow/package.json
Due: prettier --write

chore: update package.json
  package.json
Due: prettier --write

ci: fix changeset version bump bug
  .changeset/config.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

ci: fix changeset version bump bug (#183)
  .changeset/config.json
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat(farrow-api-client): support passing fetcherOptions from loader, group batch callings via fetcherOptions, support return JsonType from fetcher, infer fetcher type from loader
  packages/farrow-api-client/__tests__/farrow-api-client.test.ts
  packages/farrow-api-client/src/BatchProcessor.ts
  packages/farrow-api-client/src/farrow-api-client.ts
  packages/farrow-api-server/src/apiService.ts
  packages/farrow-api/__tests__/expected/01.ts
  packages/farrow-api/src/codegen.ts
Due: eslint --fix

docs(changeset): add FetcherLoaderOptions support, etc
  .changeset/eight-kings-jam.md
Due: prettier --write

RELEASING: Releasing 3 package(s)
  .changeset/eight-kings-jam.md
  packages/farrow-api-client/CHANGELOG.md
  packages/farrow-api-client/package.json
  packages/farrow-api-server/CHANGELOG.md
  packages/farrow-api-server/package.json
  packages/farrow-api/CHANGELOG.md
  packages/farrow-api/package.json
Due: prettier --write

refactor(farrow-api): optimize codegen options, user can attach custom header instead of default header
  packages/farrow-api/__tests__/codegen.test.ts
  packages/farrow-api/src/codegen.ts
Due: eslint --fix

fix(farrow-deno-api): fix test-case failed via codegen
  packages/farrow-deno-api/__tests__/client.ts
Due: eslint --fix

fix(farrow-pipeline): fix typo
  packages/farrow-pipeline/src/context.ts
Due: eslint --fix

fix(farrow-schema): improve type definition to avoid infinite prettier recursive type in FieldDescriptors
  packages/farrow-api/src/api.ts
  packages/farrow-schema/package.json
  packages/farrow-schema/src/schema.ts
Due: eslint --fix, prettier --write

docs(changeset): bump version
  .changeset/proud-planes-smile.md
Due: prettier --write

RELEASING: Releasing 18 package(s)
  .changeset/proud-planes-smile.md
  packages/farrow-api-client/CHANGELOG.md
  packages/farrow-api-client/package.json
  packages/farrow-api-server/CHANGELOG.md
  packages/farrow-api-server/package.json
  packages/farrow-api/CHANGELOG.md
  packages/farrow-api/package.json
  packages/farrow-cors/CHANGELOG.md
  packages/farrow-cors/package.json
  packages/farrow-deno-api/CHANGELOG.md
  packages/farrow-deno-api/package.json
  packages/farrow-express/CHANGELOG.md
  packages/farrow-express/package.json
  packages/farrow-federation/CHANGELOG.md
  packages/farrow-federation/package.json
  packages/farrow-http/CHANGELOG.md
  packages/farrow-http/package.json
  packages/farrow-json-schema/CHANGELOG.md
  packages/farrow-json-schema/package.json
  packages/farrow-koa/CHANGELOG.md
  packages/farrow-koa/package.json
  packages/farrow-module/CHANGELOG.md
  packages/farrow-module/package.json
  packages/farrow-next-server/CHANGELOG.md
  packages/farrow-next-server/package.json
  packages/farrow-next/CHANGELOG.md
  packages/farrow-next/package.json
  packages/farrow-pipeline/CHANGELOG.md
  packages/farrow-pipeline/package.json
  packages/farrow-react/CHANGELOG.md
  packages/farrow-react/package.json
  packages/farrow-schema/CHANGELOG.md
  packages/farrow-schema/package.json
  packages/farrow-vite/CHANGELOG.md
  packages/farrow-vite/package.json
  packages/farrow/CHANGELOG.md
  packages/farrow/package.json
Due: prettier --write

fix(farrow-api-client): fix ApiErrorResponse can not be catched in client-side
  packages/farrow-api-client/src/farrow-api-client.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{json,yml,md}
