Repository farrow-js/farrow: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "eslint --fix"
  ],
  "*.{json,yml,md}": [
    "prettier --write"
  ]
}

refactor(api): improve codegen
  packages/api/src/codegen.ts
  packages/example/client/todo.ts
Due: eslint --fix

refactor(api&api-server): improve codegen and fix list type codegen error
  packages/api-server/src/createApiService.ts
  packages/api/src/api.ts
  packages/api/src/codegen.ts
  packages/api/src/formater.ts
  packages/api/src/toJSON.ts
Due: eslint --fix

chore(example): add pet-store demo
  packages/example/client/pet-store.ts
  packages/example/farrow.config.js
  packages/example/src/index.ts
  packages/example/src/services/pet-store.ts
Due: eslint --fix

fix(api): fix record type codegen bug
  packages/api/src/codegen.ts
  packages/api/src/formater.ts
Due: eslint --fix

chore(example): improve pet-store example
  packages/example/client/pet-store.ts
  packages/example/src/services/pet-store.ts
Due: eslint --fix

refactor(farrow): supporting multiple server/api options, make monorepo approach more friendly
  packages/api/src/codegen.ts
  packages/example/farrow.config.js
  packages/farrow/src/api-client/index.ts
  packages/farrow/src/build.ts
  packages/farrow/src/bundler/server.ts
  packages/farrow/src/config.ts
  packages/farrow/src/dev.ts
  packages/farrow/src/start.ts
Due: eslint --fix

refactor(schema): move formater from farrow-api to farrow-schema
  packages/api/src/codegen.ts
  packages/api/src/toJSON.ts
  packages/schema/formater.d.ts
  packages/schema/formater.js
  packages/schema/package.json
  packages/schema/src/formater.ts
Due: eslint --fix, prettier --write

chore(api): remove example code
  packages/api/package.json
  packages/api/src/codegen.ts
  packages/api/src/example.ts
  packages/api/src/test.schema.ts
  packages/api/src/toJSON.ts
Due: eslint --fix, prettier --write

test(schema): add test cases for formater
  packages/schema/src/__tests__/formater.test.ts
  packages/schema/src/__tests__/validator.test.ts
  packages/schema/src/formater.ts
Due: eslint --fix

refactor(api): fix typo, rename Typable to Typeable
  packages/api/src/api.ts
  packages/api/src/codegen.ts
  packages/api/src/toJSON.ts
Due: eslint --fix

test(api): add some test cases for api
  packages/api/src/__tests__/api.test.ts
  packages/api/src/api.ts
Due: eslint --fix

fix(api-server): add farrow-pipeline to devDependenties
  packages/api-server/package.json
Due: prettier --write

test(api): add more test cases for farrow-api
  packages/api/src/__tests__/codegen.test.ts
  packages/api/src/__tests__/expected/01.ts
  packages/api/src/__tests__/expected/02.ts
  packages/api/src/__tests__/toJSON.test.ts
Due: eslint --fix

refactor(api): improve codegen, inline struct type
  packages/api/src/codegen.ts
  packages/example/client/pet-store.ts
  packages/example/client/todo.ts
  packages/example/src/services/pet-store.ts
  packages/schema/src/formater.ts
Due: eslint --fix

test(api): add more test cases for farrow-api
  packages/api/src/__tests__/codegen.test.ts
  packages/api/src/__tests__/expected/01.ts
  packages/api/src/__tests__/expected/02.ts
  packages/api/src/codegen.ts
  packages/schema/src/schema.ts
Due: eslint --fix

test(api-server): add test cases for farrow-api-server
  packages/api-server/package.json
  packages/api-server/src/__tests__/apiService.test.ts
  packages/api-server/src/apiService.ts
  packages/api-server/src/index.ts
Due: eslint --fix, prettier --write

refactor(api): improve api types
  packages/api/src/api.ts
Due: eslint --fix

feat(http): Http(options) supports config errorStack
  packages/http/src/http.ts
Due: eslint --fix

test(farrow): add test cases for farrow api-client
  packages/farrow/__tests__/farrow-api.test.ts
  packages/farrow/__tests__/farrow-server.test.ts
  packages/farrow/fixtures/project0/src/api.ts
  packages/farrow/fixtures/project0/src/http.ts
  packages/farrow/package.json
  packages/farrow/src/api-client/index.ts
Due: eslint --fix, prettier --write

chore(example): move example to separate folder
  examples/example/README.md
  examples/example/client/pet-store.ts
  examples/example/client/todo.ts
  examples/example/farrow.config.js
  examples/example/package.json
  examples/example/src/api/index.ts
  examples/example/src/api/todos.ts
  examples/example/src/data.ts
  examples/example/src/flight/index.html
  examples/example/src/flight/index.tsx
  examples/example/src/flight/src/index.tsx
  examples/example/src/index.ts
  examples/example/src/middleware/Action2Page.ts
  examples/example/src/middleware/NoCache.ts
  examples/example/src/pages/components/Form.tsx
  examples/example/src/pages/components/Layout.tsx
  examples/example/src/pages/index.ts
  examples/example/src/pages/todos/Create.tsx
  examples/example/src/pages/todos/Home.tsx
  examples/example/src/pages/todos/Update.tsx
  examples/example/src/pages/todos/components/TodoAction.tsx
  examples/example/src/pages/todos/index.tsx
  examples/example/src/services/pet-store.ts
  examples/example/src/services/todo.ts
  examples/example/src/temp.ts
  examples/example/static/css/mvp.css
  examples/example/tsconfig.json
  lerna.json
  packages/example/src/test.ts
  tsconfig.json
Due: eslint --fix, prettier --write

feat(api): createApi return ApiPipeline and more instead of just a function
  examples/example/tsconfig.json
  packages/api-server/src/__tests__/apiService.test.ts
  packages/api/package.json
  packages/api/src/__tests__/toJSON.test.ts
  packages/api/src/api.ts
  packages/api/tsconfig.json
  packages/farrow/fixtures/project0/src/api.ts
  packages/farrow/tsconfig.json
Due: eslint --fix, prettier --write

feat(http): suffix index.html in router.serve if request.url ends with /
  packages/http/src/router.ts
Due: eslint --fix

chore(examples): add vite + react + farrow example
  examples/todo-app/.gitignore
  examples/todo-app/farrow.config.js
  examples/todo-app/index.html
  examples/todo-app/package-lock.json
  examples/todo-app/package.json
  examples/todo-app/server/api/todo.ts
  examples/todo-app/server/index.ts
  examples/todo-app/src/App.css
  examples/todo-app/src/App.tsx
  examples/todo-app/src/api/todo/createApiClient.ts
  examples/todo-app/src/api/todo/index.ts
  examples/todo-app/src/favicon.svg
  examples/todo-app/src/index.css
  examples/todo-app/src/logo.svg
  examples/todo-app/src/main.tsx
  examples/todo-app/tsconfig.json
  examples/todo-app/vite.config.ts
  package-lock.json
  tsconfig.build.json
Due: eslint --fix, prettier --write

chore(example): integrate vite and farrow in one server process
  examples/todo-app/farrow.config.js
  examples/todo-app/server/index.ts
  examples/todo-app/src/App.tsx
Due: eslint --fix

feat(vite): add farrow-vite adapter
  packages/vite/README.md
  packages/vite/package.json
  packages/vite/src/index.ts
  packages/vite/src/vite.ts
  packages/vite/tsconfig.json
Due: eslint --fix, prettier --write

feat(http): better support for file-serveing index.html
  packages/http/src/router.ts
  packages/http/src/util.ts
Due: eslint --fix

feat(farrow): auto add dependenties to esbuild
  packages/farrow/package.json
  packages/farrow/src/bundler/server.ts
Due: eslint --fix, prettier --write

chore(example): improve todo-app example
  examples/todo-app/farrow.config.js
  examples/todo-app/nest/index.html
  examples/todo-app/nest/src/index.ts
  examples/todo-app/nest/src/main.tsx
  examples/todo-app/package.json
  examples/todo-app/server/index.ts
  examples/todo-app/vite.config.ts
  package-lock.json
  packages/react/README.md
  tsconfig.build.json
Due: eslint --fix, prettier --write

docs: add some docs for farrow-api & farrow-api-server & farrow-vite
  docs/api-server.md
  docs/api.md
  docs/farrow.md
  docs/index.md
  docs/vite.md
  examples/todo-app/server/api/index.ts
  examples/todo-app/server/index.ts
  packages/api/src/api.ts
  packages/api/src/codegen.ts
  packages/farrow/src/api-client/index.ts
Due: eslint --fix, prettier --write

fix(http): fix router.seve break the test cases
  packages/http/src/router.ts
Due: eslint --fix

feat(schema): add custom validator-type support
  .eslintrc
  docs/schema.md
  packages/schema/src/__tests__/validator.test.ts
  packages/schema/src/schema.ts
  packages/schema/src/validator.ts
Due: eslint --fix, prettier --write

v1.6.0
  examples/example/package.json
  examples/todo-app/package-lock.json
  examples/todo-app/package.json
  lerna.json
  packages/api-server/package-lock.json
  packages/api-server/package.json
  packages/api/package.json
  packages/cors/package.json
  packages/farrow/package.json
  packages/graphql/package.json
  packages/http/package.json
  packages/pipeline/package.json
  packages/react/package.json
  packages/schema/package.json
  packages/vite/package.json
Due: prettier --write

chore(example): add private=true to package.json
  examples/todo-app/package.json
Due: prettier --write

feat(schema): add RegExp type support
  docs/schema.md
  packages/schema/src/__tests__/validator.test.ts
  packages/schema/src/validator.ts
Due: eslint --fix, prettier --write

v1.6.1
  examples/example/package.json
  examples/todo-app/package-lock.json
  examples/todo-app/package.json
  lerna.json
  packages/api-server/package-lock.json
  packages/api-server/package.json
  packages/api/package.json
  packages/cors/package.json
  packages/farrow/package.json
  packages/graphql/package.json
  packages/http/package.json
  packages/react/package.json
  packages/schema/package.json
  packages/vite/package.json
Due: prettier --write

docs(schema): update
  docs/schema.md
Due: prettier --write

feat(next): add farrow-next
  packages/next/README.md
  packages/next/package.json
  packages/next/src/controller.tsx
  packages/next/src/cookie.ts
  packages/next/src/index.ts
  packages/next/src/module.ts
  packages/next/src/page-info.tsx
  packages/next/src/page.tsx
  packages/next/src/store.ts
  packages/next/src/useIsomorphicLayoutEffect.tsx
  packages/next/src/util.ts
  packages/next/tsconfig.json
Due: eslint --fix, prettier --write

chore: upgrade dependencies
  .eslintrc
  .gitignore
  docs/index.md
  docs/next.md
  examples/example/package-lock.json
  examples/example/package.json
  examples/todo-app/package-lock.json
  package-lock.json
  packages/api-server/package-lock.json
  packages/farrow/bin/scripts.js
  packages/http/package.json
  packages/react/package.json
Due: eslint --fix, prettier --write

fix(next): check modules cache before creating new module
  packages/next/src/module.ts
Due: eslint --fix

feat(next): module supports BaseModule and ModuleConfigKey
  packages/next/src/module.ts
Due: eslint --fix
