Repository farrow-js/farrow: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

style: format
  .lintstagedrc
  package.json
  packages/pipeline/src/counter.ts
  packages/pipeline/src/hook.ts
  packages/pipeline/src/index.ts
  packages/react/Context.d.ts
  packages/react/Link.d.ts
  packages/react/hooks.d.ts
  packages/react/src/Context.ts
  packages/react/src/index.ts
  packages/schema/src/index.ts
  packages/schema/src/types.ts
  packages/schema/transformer.d.ts
Due: eslint --fix, prettier --write

style: jsx use double quote
  .prettierrc
Due: none

chore: run build after being bootstrapped
  package.json
Due: prettier --write

style: update eslintrc & format code
  .eslintrc
  package-lock.json
  package.json
  packages/cors/src/__tests__/error-response.ts
  packages/cors/src/__tests__/example-app.ts
  packages/http/src/__tests__/http.test.ts
  packages/http/src/__tests__/router.test.ts
  packages/react/Context.js
  packages/react/Link.js
  packages/react/hooks.js
  packages/schema/transformer.js
  packages/schema/validator.js
Due: eslint --fix, prettier --write

chore(prettier): endOfLine auto
  .prettierrc
Due: none

chore: update eslint config
  .eslintrc
  packages/cors/src/__tests__/error-response.ts
  packages/cors/src/__tests__/example-app.ts
  packages/cors/src/index.ts
  packages/example/src/pages/components/Form.tsx
  packages/example/src/pages/todos/index.tsx
  packages/example/src/temp.ts
  packages/graphql/src/build.ts
  packages/graphql/src/weather.schema.ts
  packages/http/src/__tests__/http.test.ts
  packages/http/src/__tests__/router.test.ts
  packages/http/src/basenames.ts
  packages/http/src/http.ts
  packages/http/src/requestInfo.ts
  packages/http/src/responseInfo.ts
  packages/http/src/router.ts
  packages/http/src/types.ts
  packages/http/src/util.ts
  packages/pipeline/src/__tests__/compose.test.js
  packages/pipeline/src/__tests__/pipeline.test.ts
  packages/pipeline/src/context.ts
  packages/pipeline/src/pipeline.ts
  packages/react/src/react.tsx
  packages/schema/src/__tests__/schema.test.ts
  packages/schema/src/schema.ts
  packages/schema/src/transformer.ts
  packages/schema/src/types.ts
  packages/schema/src/validator.ts
Due: eslint --fix

fix: using node env for jest
  jest.config.js
Due: eslint --fix

feat(pipeline): support createAsyncPipeline with .useLazy(...)
  packages/pipeline/src/__tests__/pipeline.test.ts
  packages/pipeline/src/pipeline.ts
Due: eslint --fix

feat(http): use AsyncPipeline instead of Pipeline to support router.useLazy(...)
  packages/http/src/router.ts
Due: eslint --fix

fix(http): it supports overide content-type for Response.file
  packages/http/package-lock.json
  packages/http/src/__tests__/http.test.ts
  packages/http/src/http.ts
Due: eslint --fix, prettier --write

feat(farrow): useful module for farrow app
  packages/farrow/README.md
  packages/farrow/bin/scripts.js
  packages/farrow/package.json
  packages/farrow/src/index.ts
  packages/farrow/tsconfig.json
Due: eslint --fix, prettier --write

chore: some modification
  .eslintrc
  README.md
  package-lock.json
  package.json
  packages/example/package-lock.json
  packages/example/package.json
  packages/example/src/flight/index.html
  packages/example/src/flight/index.tsx
  packages/example/src/flight/src/index.tsx
  packages/example/src/index.tsx
  packages/example/src/temp.ts
  packages/example/src/test.ts
  packages/example/start.js
  packages/example/tsconfig.json
  packages/graphql/README.md
  packages/graphql/package-lock.json
  packages/pipeline/package-lock.json
  packages/react/package-lock.json
  packages/schema/package-lock.json
  tsconfig.build.json
Due: eslint --fix, prettier --write

chore: fix the dependencies of example
  .travis.yml
  package.json
  packages/example/package.json
  packages/example/start.js
Due: eslint --fix, prettier --write

feat(http): support remove headers/cookies in response
  packages/http/src/__tests__/http.test.ts
  packages/http/src/http.ts
Due: eslint --fix

feat(http): do not block middlewares by default
  packages/http/src/__tests__/http.test.ts
  packages/http/src/router.ts
Due: eslint --fix

test(farrow): add some test cases for farrow
  packages/farrow/README.md
  packages/farrow/__tests__/farrow.test.ts
  packages/farrow/bin/scripts.js
  packages/farrow/fixtures/project0/farrow.config.js
  packages/farrow/fixtures/project0/package.json
  packages/farrow/fixtures/project0/src/http.ts
  packages/farrow/fixtures/project0/src/index.ts
  packages/farrow/package.json
  packages/farrow/scripts/build.js
  packages/farrow/scripts/dev.js
  packages/farrow/scripts/start.js
  packages/farrow/src/build.ts
  packages/farrow/src/bundler/server.ts
  packages/farrow/src/config.ts
  packages/farrow/src/dev.ts
  packages/farrow/src/index.ts
  packages/farrow/src/start.ts
Due: eslint --fix, prettier --write

refactor(farrow): improve api
  packages/farrow/__tests__/farrow.test.ts
  packages/farrow/fixtures/project0/src/http.ts
  packages/farrow/package.json
  packages/farrow/src/build.ts
  packages/farrow/src/bundler/server.ts
  packages/farrow/src/dev.ts
  packages/farrow/src/start.ts
Due: eslint --fix, prettier --write

fix(http): farrow logger should only log output once
  packages/http/src/http.ts
Due: eslint --fix

docs: add farrow docs
  README.md
  docs/farrow.md
  docs/http.md
Due: prettier --write

chore: update example
  package-lock.json
  package.json
  packages/example/farrow.config.js
  packages/example/package.json
  packages/example/src/index.ts
  packages/example/start.js
Due: eslint --fix, prettier --write

v1.4.0
  lerna.json
  packages/cors/package.json
  packages/example/package.json
  packages/farrow/package.json
  packages/graphql/package.json
  packages/http/package.json
  packages/pipeline/package.json
  packages/react/package.json
  packages/schema/package.json
Due: prettier --write

fix(farrow): mark farrow to public
  packages/farrow/package.json
Due: prettier --write

v1.4.1
  lerna.json
  packages/example/package.json
  packages/farrow/package.json
Due: prettier --write

docs: update
  docs/farrow.md
  packages/example/farrow.config.js
Due: eslint --fix, prettier --write

chore: update node version
  .travis.yml
  README.md
Due: prettier --write

docs: update example README
  packages/example/README.md
Due: prettier --write

fix: fix document example type error
  README.md
Due: prettier --write

fix: fix document example error
  docs/cors.md
Due: prettier --write

feat(graphql): add Resolver Mixins
  .eslintrc
  package-lock.json
  packages/graphql/package.json
  packages/graphql/src/graphql.ts
  packages/graphql/src/resolver.ts
  packages/graphql/src/weather.schema.ts
Due: eslint --fix, prettier --write

style: format all code with new prettier config
  .prettierrc
  packages/example/src/temp.ts
Due: eslint --fix

v1.4.2
  lerna.json
  packages/example/package.json
  packages/graphql/package.json
Due: prettier --write

chore: bump verion
  packages/farrow/package.json
Due: prettier --write

v1.4.3
  lerna.json
  packages/example/package.json
  packages/farrow/package.json
Due: prettier --write

chore: fix travis error
  packages/example/src/temp.ts
Due: eslint --fix

feat(pipeline): use async_hooks to overcome the limitation of farrow-hooks
  packages/pipeline/asyncHooks.node.d.ts
  packages/pipeline/asyncHooks.node.js
  packages/pipeline/package.json
  packages/pipeline/src/__tests__/pipeline.test.ts
  packages/pipeline/src/asyncHooksImpl/browser.ts
  packages/pipeline/src/asyncHooksImpl/node.ts
  packages/pipeline/src/asyncHooksInterface.ts
  packages/pipeline/src/context.ts
  packages/pipeline/src/hook.ts
Due: eslint --fix, prettier --write

feat(http): enable async_hooks
  packages/http/src/__tests__/http.test.ts
  packages/http/src/router.ts
Due: eslint --fix

docs: update docs for farrow-hooks usage
  README.md
  docs/pipeline.md
Due: prettier --write

v1.5.0
  lerna.json
  packages/cors/package.json
  packages/example/package.json
  packages/farrow/package.json
  packages/graphql/package.json
  packages/http/package.json
  packages/pipeline/package.json
  packages/react/package.json
Due: prettier --write

docs: fix typo
  docs/pipeline.md
Due: prettier --write

docs: improve docs for #28
  README.md
  docs/http.md
  docs/index.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{json,yml,md}
