Repository farrow-js/farrow: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

feat(api-server): optional introspection (#161)
  .changeset/slow-roses-pull.md
  packages/farrow-api-server/__tests__/apiService.test.ts
  packages/farrow-api-server/src/apiService.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

fix(schema): validation of literal schema in non-strict mode
  packages/farrow-schema/src/validator.ts
Due: eslint --fix

test(schema): add case for validation of literal schema in non-strict mode
  packages/farrow-schema/__tests__/validator.test.ts
Due: eslint --fix

docs(changeset): fix(schema): validation of literal schema in non-strict mode
  .changeset/polite-rocks-switch.md
Due: prettier --write

fix: adjust client generator to farrow-api-server from farrow-api
  packages/farrow-api-server/__tests__/codegen.test.ts
  packages/farrow-api-server/__tests__/expected/01.ts
  packages/farrow-api-server/__tests__/expected/02.ts
  packages/farrow-api-server/package.json
  packages/farrow-api-server/src/codegen.ts
  packages/farrow-deno-api/src/codegen.ts
  packages/farrow-deno-api/src/denoService.ts
  packages/farrow/src/api-client/index.ts
  pnpm-lock.yaml
Due: eslint --fix, prettier --write

docs(changeset): fix: adjust client generator to farrow-api-server from farrow-api
  .changeset/sharp-seas-brush.md
Due: prettier --write

fix(schema): validation of literal schema in non-strict mode (#164)
  .changeset/polite-rocks-switch.md
  packages/farrow-schema/__tests__/validator.test.ts
  packages/farrow-schema/src/validator.ts
Due: eslint --fix, prettier --write

feat(schema): add never
  packages/farrow-schema/__tests__/validator.test.ts
  packages/farrow-schema/src/formatter.ts
  packages/farrow-schema/src/schema.ts
  packages/farrow-schema/src/validator.ts
Due: eslint --fix

docs(changeset): feat(schema): add never
  .changeset/clean-pugs-push.md
Due: prettier --write

fix: validation for never
  packages/farrow-schema/src/validator.ts
Due: eslint --fix

fix: validation for never
  packages/farrow-schema/__tests__/validator.test.ts
  packages/farrow-schema/src/validator.ts
Due: eslint --fix

style: eslint
  packages/farrow-federation/src/federation.ts
Due: eslint --fix

fix: never validation message
  packages/farrow-schema/src/validator.ts
Due: eslint --fix

style: remove useles
  packages/farrow-schema/__tests__/validator.test.ts
Due: eslint --fix

fix: struct field never
  packages/farrow-schema/__tests__/validator.test.ts
  packages/farrow-schema/src/validator.ts
Due: eslint --fix

test: add struct field never case
  packages/farrow-schema/__tests__/validator.test.ts
  packages/farrow-schema/src/validator.ts
Due: eslint --fix

style: fix eslint error
  packages/farrow-express/__tests__/express.test.ts
  packages/farrow-federation/__tests__/helpers.ts
  packages/farrow-federation/src/federation.ts
  packages/farrow-federation/src/info.ts
  packages/farrow-federation/src/introspection.ts
  packages/farrow-http/__tests__/http.test.ts
  packages/farrow-http/__tests__/router.test.ts
Due: eslint --fix

feat: Disable Redux DevTools in production
  packages/farrow-next/src/controller.tsx
Due: eslint --fix

feat(schema): add never (#167)
  .changeset/clean-pugs-push.md
  packages/farrow-schema/__tests__/validator.test.ts
  packages/farrow-schema/src/formatter.ts
  packages/farrow-schema/src/schema.ts
  packages/farrow-schema/src/validator.ts
Due: eslint --fix, prettier --write

style: fix eslint warning (#168)
  packages/farrow-express/__tests__/express.test.ts
  packages/farrow-federation/__tests__/helpers.ts
  packages/farrow-federation/src/federation.ts
  packages/farrow-federation/src/info.ts
  packages/farrow-federation/src/introspection.ts
  packages/farrow-http/__tests__/http.test.ts
  packages/farrow-http/__tests__/router.test.ts
  packages/farrow-schema/__tests__/validator.test.ts
Due: eslint --fix

feat: Disable Redux DevTools in production (#169)
  packages/farrow-next/src/controller.tsx
Due: eslint --fix

refactor(api): client generation
  packages/farrow-api-server/__tests__/codegen.test.ts
  packages/farrow-api-server/__tests__/expected/01.ts
  packages/farrow-api-server/__tests__/expected/02.ts
  packages/farrow-api-server/src/clientGenerator.ts
  packages/farrow-api/src/api.ts
  packages/farrow-api/src/codegen.ts
  packages/farrow-api/src/createGenerator.ts
  packages/farrow-deno-api/src/codegen.ts
  packages/farrow-deno-api/src/denoService.ts
  packages/farrow/src/api-client/index.ts
Due: eslint --fix

refactor(api): client generation
  packages/farrow-api-server/src/generateApiClient.ts
  packages/farrow-api/__tests__/codegen.test.ts
  packages/farrow-api/__tests__/expected/01.ts
  packages/farrow-api/src/generateApi.ts
  packages/farrow-deno-api/src/codegen.ts
  packages/farrow-deno-api/src/denoService.ts
  packages/farrow/src/api-client/index.ts
Due: eslint --fix

test: name case
  packages/farrow-api-server/__tests__/generatorApiClient.test.ts
  packages/farrow-api/__tests__/generateApi.test.ts
Due: eslint --fix

docs(changeset): refactor(api): client generation
  .changeset/shaggy-icons-develop.md
Due: prettier --write

style: typo
  packages/farrow-api-server/src/generateApiClient.ts
  packages/farrow-api/src/generateApi.ts
Due: eslint --fix

refactor(api): client generation (#170)
  .changeset/shaggy-icons-develop.md
  packages/farrow-api-server/__tests__/expected/01.ts
  packages/farrow-api-server/__tests__/generatorApiClient.test.ts
  packages/farrow-api-server/src/generateApiClient.ts
  packages/farrow-api/__tests__/expected/01.ts
  packages/farrow-api/__tests__/generateApi.test.ts
  packages/farrow-api/src/api.ts
  packages/farrow-api/src/generateApi.ts
  packages/farrow-deno-api/src/codegen.ts
  packages/farrow-deno-api/src/denoService.ts
  packages/farrow/src/api-client/index.ts
Due: eslint --fix, prettier --write

docs(changeset): Patch for build
  .changeset/five-ears-type.md
Due: prettier --write

RELEASING: Releasing 5 package(s)
  .changeset/five-ears-type.md
  packages/farrow-api-server/CHANGELOG.md
  packages/farrow-api-server/package.json
  packages/farrow-api/CHANGELOG.md
  packages/farrow-api/package.json
  packages/farrow-deno-api/CHANGELOG.md
  packages/farrow-deno-api/package.json
  packages/farrow-schema/CHANGELOG.md
  packages/farrow-schema/package.json
  packages/farrow/CHANGELOG.md
  packages/farrow/package.json
Due: prettier --write

fix: update lock
  pnpm-lock.yaml
Due: none

ci: add node.js 18
  .github/workflows/benchmark.yml
  .github/workflows/test.yml
Due: prettier --write

doc: fix ci
  README.md
  packages/create-farrow-app/README.md
  packages/farrow-api-client/README.md
  packages/farrow-api-server/README.md
  packages/farrow-api/README.md
  packages/farrow-cors/README.md
  packages/farrow-deno-api/README.md
  packages/farrow-express/README.md
  packages/farrow-federation/README.md
  packages/farrow-http/README.md
  packages/farrow-json-schema/README.md
  packages/farrow-koa/README.md
  packages/farrow-module/README.md
  packages/farrow-next-server/README.md
  packages/farrow-next/README.md
  packages/farrow-pipeline/README.md
  packages/farrow-react/README.md
  packages/farrow-schema/README.md
  packages/farrow-vite/README.md
  packages/farrow/README.md
Due: prettier --write

docs(changeset): fix server
  .changeset/slow-cups-brush.md
  packages/farrow-next-server/src/server.ts
  packages/farrow/package.json
Due: eslint --fix, prettier --write

docs(changeset): fix server (#172)
  .changeset/slow-cups-brush.md
  packages/farrow-next-server/src/server.ts
  packages/farrow/package.json
Due: eslint --fix, prettier --write

RELEASING: Releasing 2 package(s)
  .changeset/slow-cups-brush.md
  packages/farrow-next-server/CHANGELOG.md
  packages/farrow-next-server/package.json
  packages/farrow/CHANGELOG.md
  packages/farrow/package.json
Due: prettier --write

feat: add module for package.json
  packages/farrow-api-client/package.json
  packages/farrow-json-schema/package.json
  packages/farrow-module/package.json
  packages/farrow-next/package.json
  packages/farrow-pipeline/package.json
  packages/farrow-schema/package.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{json,yml,md}
