Repository farrow-js/farrow: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{js,ts,tsx}": [
    "eslint --fix"
  ],
  "*.{json,yml,md}": [
    "prettier --write"
  ]
}

docs: update
  README.md
  docs/ecosystem.md
  docs/index.md
  packages/farrow-http/README.md
  packages/farrow-module/src/module.ts
Due: eslint --fix, prettier --write

feat(farrow-next): Reuse latest selected state on selector re-run
  packages/farrow-next/src/controller.tsx
Due: eslint --fix

chore: update changelog
  CHANGELOG.md
Due: prettier --write

v1.10.4
  examples/example/package.json
  examples/next-app/package-lock.json
  examples/next-app/package.json
  examples/todo-app/package.json
  lerna.json
  packages/create-farrow-app/templates/farrow-next-react/package-lock.json
  packages/create-farrow-app/templates/farrow-next-react/package.json
  packages/create-farrow-app/templates/farrow-only/package-lock.json
  packages/create-farrow-app/templates/farrow-only/package.json
  packages/create-farrow-app/templates/farrow-vite-react/package-lock.json
  packages/create-farrow-app/templates/farrow-vite-react/package.json
  packages/farrow-api-client/package.json
  packages/farrow-api-server/package.json
  packages/farrow-cors/package.json
  packages/farrow-http/package.json
  packages/farrow-module/package.json
  packages/farrow-next-server/package-lock.json
  packages/farrow-next-server/package.json
  packages/farrow-next/package-lock.json
  packages/farrow-next/package.json
  packages/farrow-react/package.json
  packages/farrow-vite/package.json
  packages/farrow/package.json
Due: prettier --write

fix(farrow-next): moduleContext.new is wrong, use moduleContext.use for Page Component
  package-lock.json
  packages/farrow-next/src/page.tsx
Due: eslint --fix, prettier --write

v1.10.5
  examples/next-app/package-lock.json
  examples/next-app/package.json
  lerna.json
  packages/create-farrow-app/templates/farrow-next-react/package-lock.json
  packages/create-farrow-app/templates/farrow-next-react/package.json
  packages/farrow-next/package-lock.json
  packages/farrow-next/package.json
Due: prettier --write

fix(farrow-schema): fix type error
  packages/farrow-schema/src/validator.ts
Due: eslint --fix

refactor let to const
  packages/farrow-pipeline/src/__tests__/compose.test.js
  packages/farrow/bin/scripts.js
Due: eslint --fix

fix(farrow-next): should detect pathname changed in browser correctly
  CHANGELOG.md
  packages/farrow-next/src/page.tsx
Due: eslint --fix, prettier --write

v1.10.6
  examples/example/package.json
  examples/next-app/package-lock.json
  examples/next-app/package.json
  examples/todo-app/package.json
  lerna.json
  packages/create-farrow-app/package.json
  packages/create-farrow-app/templates/farrow-next-react/package-lock.json
  packages/create-farrow-app/templates/farrow-next-react/package.json
  packages/create-farrow-app/templates/farrow-only/package-lock.json
  packages/create-farrow-app/templates/farrow-only/package.json
  packages/create-farrow-app/templates/farrow-vite-react/package-lock.json
  packages/create-farrow-app/templates/farrow-vite-react/package.json
  packages/farrow-api-client/package.json
  packages/farrow-api-server/package.json
  packages/farrow-api/package.json
  packages/farrow-cors/package.json
  packages/farrow-http/package.json
  packages/farrow-module/package.json
  packages/farrow-next-server/package-lock.json
  packages/farrow-next-server/package.json
  packages/farrow-next/package-lock.json
  packages/farrow-next/package.json
  packages/farrow-pipeline/package.json
  packages/farrow-react/package.json
  packages/farrow-schema/package.json
  packages/farrow-vite/package.json
  packages/farrow/package.json
Due: prettier --write

feat: deno server
  packages/farrow-deno-server/README.md
  packages/farrow-deno-server/package.json
  packages/farrow-deno-server/src/__tests__/client.ts
  packages/farrow-deno-server/src/__tests__/denoServer.test.ts
  packages/farrow-deno-server/src/codegen.ts
  packages/farrow-deno-server/src/denoService.ts
  packages/farrow-deno-server/src/index.ts
  packages/farrow-deno-server/tsconfig.json
  tsconfig.dist.json
Due: eslint --fix, prettier --write

doc: add deno-server to list
  docs/index.md
Due: prettier --write

fix(deno-server): refactor let to const
  packages/farrow-deno-server/src/codegen.ts
Due: eslint --fix

style: rename farrow-deno-server to farrow-deno-api
  packages/farrow-deno-api/README.md
  packages/farrow-deno-api/package.json
  packages/farrow-deno-api/src/__tests__/client.ts
  packages/farrow-deno-api/src/codegen.ts
  packages/farrow-deno-api/src/denoService.ts
  packages/farrow-deno-api/src/index.ts
  packages/farrow-deno-api/tsconfig.json
  packages/farrow-deno-server/src/__tests__/denoServer.test.ts
  tsconfig.dist.json
Due: eslint --fix, prettier --write

test(deno-api): add client work validation test case
  packages/farrow-deno-api/src/__tests__/denoServer.test.ts
Due: eslint --fix

doc: rename farrow-deno-server to farrow-deno-api
  docs/index.md
Due: prettier --write

chore: format and fix typo
  examples/example/client/app.ts
  examples/example/src/middleware/Action2Page.ts
  package-lock.json
  packages/farrow-deno-api/package.json
  packages/farrow-deno-api/src/denoService.ts
  packages/farrow-http/src/router.ts
  packages/farrow-module/src/module.ts
  packages/farrow-next/src/controller.tsx
  packages/farrow-next/src/util.ts
  packages/farrow-schema/src/__tests__/validator.test.ts
  packages/farrow-schema/src/helper.ts
  packages/farrow-schema/src/schema.ts
Due: eslint --fix, prettier --write

chore: fix typo
  packages/farrow-api-server/src/__tests__/apiService.test.ts
  packages/farrow-deno-api/README.md
  packages/farrow-deno-api/src/__tests__/client.ts
  packages/farrow-deno-api/src/__tests__/denoService.test.ts
  packages/farrow-deno-api/src/codegen.ts
  packages/farrow/__tests__/farrow-server.test.ts
Due: eslint --fix, prettier --write

v1.10.7
  examples/example/package.json
  examples/next-app/package-lock.json
  examples/next-app/package.json
  examples/todo-app/package.json
  lerna.json
  packages/create-farrow-app/templates/farrow-next-react/package-lock.json
  packages/create-farrow-app/templates/farrow-next-react/package.json
  packages/create-farrow-app/templates/farrow-only/package-lock.json
  packages/create-farrow-app/templates/farrow-only/package.json
  packages/create-farrow-app/templates/farrow-vite-react/package-lock.json
  packages/create-farrow-app/templates/farrow-vite-react/package.json
  packages/farrow-api-client/package.json
  packages/farrow-api-server/package.json
  packages/farrow-api/package.json
  packages/farrow-cors/package.json
  packages/farrow-deno-api/package.json
  packages/farrow-http/package.json
  packages/farrow-module/package.json
  packages/farrow-next-server/package-lock.json
  packages/farrow-next-server/package.json
  packages/farrow-next/package-lock.json
  packages/farrow-next/package.json
  packages/farrow-react/package.json
  packages/farrow-schema/package.json
  packages/farrow-vite/package.json
  packages/farrow/package.json
Due: prettier --write

fix(create-farrow-app): update templates
  packages/create-farrow-app/src/index.ts
  packages/create-farrow-app/templates/farrow-next-react/package.json
  packages/create-farrow-app/templates/farrow-next-react/src/pages/index/Controller.ts
  packages/create-farrow-app/templates/farrow-next-react/src/pages/index/View.tsx
  packages/create-farrow-app/templates/farrow-only/package.json
  packages/create-farrow-app/templates/farrow-vite-react/package.json
  packages/farrow-next/src/controller.tsx
  packages/farrow-schema/src/formatter.ts
Due: eslint --fix, prettier --write

Fix Next.js 11 compatibility
  packages/farrow-next/package.json
Due: prettier --write

v1.10.8
  examples/example/package.json
  examples/next-app/package-lock.json
  examples/next-app/package.json
  examples/todo-app/package.json
  lerna.json
  packages/create-farrow-app/package.json
  packages/create-farrow-app/templates/farrow-next-react/package-lock.json
  packages/create-farrow-app/templates/farrow-next-react/package.json
  packages/create-farrow-app/templates/farrow-only/package-lock.json
  packages/create-farrow-app/templates/farrow-only/package.json
  packages/create-farrow-app/templates/farrow-vite-react/package-lock.json
  packages/create-farrow-app/templates/farrow-vite-react/package.json
  packages/farrow-api-client/package.json
  packages/farrow-api-server/package.json
  packages/farrow-api/package.json
  packages/farrow-cors/package.json
  packages/farrow-deno-api/package.json
  packages/farrow-http/package.json
  packages/farrow-next-server/package-lock.json
  packages/farrow-next-server/package.json
  packages/farrow-next/package-lock.json
  packages/farrow-next/package.json
  packages/farrow-react/package.json
  packages/farrow-schema/package.json
  packages/farrow-vite/package.json
  packages/farrow/package.json
Due: prettier --write

feat(farrow-api-express): create
  packages/farrow-api-express/README.md
  packages/farrow-api-express/package.json
  packages/farrow-api-express/src/__tests__/expressApiService.test.ts
  packages/farrow-api-express/src/apiService.ts
  packages/farrow-api-express/src/context.ts
  packages/farrow-api-express/src/index.ts
  packages/farrow-api-express/tsconfig.json
Due: eslint --fix, prettier --write

fix(farrow-api-express): route path and method
  packages/farrow-api-express/src/apiService.ts
Due: eslint --fix

test(farrow-api-express): add
  package-lock.json
  packages/farrow-api-express/README.md
  packages/farrow-api-express/package.json
  packages/farrow-api-express/src/__tests__/expressApiRouter.test.ts
  packages/farrow-api-express/src/__tests__/expressApiService.test.ts
  packages/farrow-api-express/src/apiRouter.ts
  packages/farrow-api-express/src/index.ts
  tsconfig.dist.json
Due: eslint --fix, prettier --write

test(farrow-api-express): add test case for hook
  packages/farrow-api-express/src/__tests__/expressApiRouter.test.ts
Due: eslint --fix

fix(farrow-api-express): next hook context
  packages/farrow-api-express/src/context.ts
Due: eslint --fix

fix(farrow-api-express): hook add detect process
  packages/farrow-api-express/src/context.ts
Due: eslint --fix

feat(farrow-express): add
  package-lock.json
  packages/farrow-express/README.md
  packages/farrow-express/fixtures/bar.js
  packages/farrow-express/fixtures/static/foo.js
  packages/farrow-express/package.json
  packages/farrow-express/src/__tests__/express.test.ts
  packages/farrow-express/src/adapter.ts
  packages/farrow-express/src/context.ts
  packages/farrow-express/src/index.ts
  packages/farrow-express/tsconfig.json
  tsconfig.dist.json
Due: eslint --fix, prettier --write

feat(farrow-koa): add
  package-lock.json
  packages/farrow-koa/README.md
  packages/farrow-koa/fixtures/bar.js
  packages/farrow-koa/fixtures/static/foo.js
  packages/farrow-koa/package.json
  packages/farrow-koa/src/__tests__/koa.test.ts
  packages/farrow-koa/src/adapter.ts
  packages/farrow-koa/src/context.ts
  packages/farrow-koa/src/index.ts
  packages/farrow-koa/tsconfig.json
  tsconfig.dist.json
Due: eslint --fix, prettier --write

doc(koa&express): readme
  packages/farrow-express/README.md
  packages/farrow-koa/README.md
Due: prettier --write

feat(farrow-api): add controvert
  packages/farrow-api/src/__tests__/controvert.test.ts
  packages/farrow-api/src/controvert.ts
Due: eslint --fix

ci: fix lint & bump esbuild & fix build config
  package-lock.json
  package.json
  packages/farrow-api/src/__tests__/controvert.test.ts
  packages/farrow-api/src/controvert.ts
  packages/farrow/package.json
  tsconfig.json
Due: eslint --fix, prettier --write

chore: add spicifical ts config for test example
  packages/farrow/fixtures/project0/tsconfig.json
  tsconfig.json
Due: prettier --write

feat(farrow-json-schema): add
  package-lock.json
  packages/farrow-json-schema/README.md
  packages/farrow-json-schema/package.json
  packages/farrow-json-schema/src/__tests__/transform.test.ts
  packages/farrow-json-schema/src/index.ts
  packages/farrow-json-schema/src/transform.ts
  packages/farrow-json-schema/tsconfig.json
Due: eslint --fix, prettier --write

ci: convert lock file to verson 1
  package-lock.json
Due: prettier --write

fix(farrow-koa/farrow-express): simplify adapter for koa/express
  packages/farrow-express/README.md
  packages/farrow-express/src/__tests__/express.test.ts
  packages/farrow-express/src/adapter.ts
  packages/farrow-express/src/context.ts
  packages/farrow-express/src/index.ts
  packages/farrow-http/src/http.ts
  packages/farrow-http/src/https.ts
  packages/farrow-http/src/index.ts
  packages/farrow-http/src/router.ts
  packages/farrow-koa/README.md
  packages/farrow-koa/src/__tests__/koa.test.ts
  packages/farrow-koa/src/adapter.ts
  packages/farrow-koa/src/context.ts
  packages/farrow-koa/src/index.ts
  packages/farrow/README.md
Due: eslint --fix, prettier --write

v1.10.9
  examples/example/package.json
  examples/next-app/package-lock.json
  examples/next-app/package.json
  examples/todo-app/package.json
  lerna.json
  packages/create-farrow-app/templates/farrow-next-react/package-lock.json
  packages/create-farrow-app/templates/farrow-next-react/package.json
  packages/create-farrow-app/templates/farrow-only/package-lock.json
  packages/create-farrow-app/templates/farrow-only/package.json
  packages/create-farrow-app/templates/farrow-vite-react/package-lock.json
  packages/create-farrow-app/templates/farrow-vite-react/package.json
  packages/farrow-api-client/package.json
  packages/farrow-api-server/package.json
  packages/farrow-api/package.json
  packages/farrow-cors/package.json
  packages/farrow-deno-api/package.json
  packages/farrow-express/package.json
  packages/farrow-http/package.json
  packages/farrow-json-schema/package.json
  packages/farrow-koa/package.json
  packages/farrow-next-server/package-lock.json
  packages/farrow-next-server/package.json
  packages/farrow-react/package.json
  packages/farrow-vite/package.json
  packages/farrow/package.json
Due: prettier --write
